{{ define "main" }}

<section class="single">
	<h1 class="title">{{ .Title }}</h1>
	{{ if in .Site.Params.mainSections .Type }}
	<div class="tip">
		发布于 <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006 年 01 月 02 日" }}</time>
		· 本文总阅读量 <span id="busuanzi_value_page_pv">~</span> 次
	</div>
	{{ end }}

	<div class="taxonomies">
		{{ with .Params.categories }}
		<div>
			Categories:
			{{ range . }}
			<a href="{{ " categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>
		{{ end }}

		{{ with .Params.tags }}
		<div>
			Tags:
			{{ range . }}
			<a href="{{ " tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>
		{{ end }}
	</div>

	<hr />

	<div class="content">
		{{ .Content }}
	</div>

	{{ if in .Site.Params.mainSections .Type }}
	<hr />
	{{ partial "comment.html" . }}
	{{ end }}
</section>

{{ end }}

