<div class="body">
  

  <aside class="side">
    <div class="inner">
      <a class="side_logo" href="/"><img src="{{ .Site.Params.Logo }}" width="120" height="120"></a>
      <h1 class="side_title"><a class="h-card" rel="me" href="/">子舒的博客</a></h1>
      <h2 class="side_subtitle">个人博客｜周刊分享</h2>
      <div class="side_subscribe">
        <a href="/subscribe/" class="js-subscribe">Subscribe</a>
      </div>
      <ul class="side_links">
        {{ range .Site.Params.socials }}
        <li><a href="{{ .link }}">{{ .name }}</a></li>
        {{ end }}
        <li><a href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
            target="_blank">gallery</a></li>
      </ul>
      <nav class="side_social">
        <a href="mailto:anghunk@gmail.com" target="_blank" aria-label="Email"><i class="icon icon-mail" aria-hidden="true"></i></a>
        <a href="https://github.com/98zi" target="_blank" rel="me" aria-label="GitHub" title="GitHub">
          <i class="icon icon-github" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/zishu520" target="_blank" rel="me" aria-label="Twitter" title="Twitter">
          <i class="icon icon-twitter" aria-hidden="true"></i>
        </a>
      </nav>

      <footer class="footer">
        <p>© 2020 - 2023
          <!-- Powered by
          <a href="https://github.com/98zi/" target="_blank">Github</a>
          · <a href="/subscribe/">RSS</a> -->
        </p>
      </footer>
    </div>
  </aside>