.toc {

  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #TableOfContents {
    &>ul {
      margin: 20px 0;
    }
  }
}

.bg {
  color: #cad3f5;
  background-color: #24273a;
}

.chroma {
  color: #cad3f5;
  background-color: #24273a;
}

.chroma .err {
  color: #ed8796;
}

.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .hl {
  background-color: #474733;
}

.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: #8087a2;
}

.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: #8087a2;
}

.chroma .line {
  display: flex;
}

.chroma .k {
  color: #c6a0f6;
}

.chroma .kc {
  color: #f5a97f;
}

.chroma .kd {
  color: #ed8796;
}

.chroma .kn {
  color: #8bd5ca;
}

.chroma .kp {
  color: #c6a0f6;
}

.chroma .kr {
  color: #c6a0f6;
}

.chroma .kt {
  color: #ed8796;
}

.chroma .na {
  color: #8aadf4;
}

.chroma .nb {
  color: #91d7e3;
}

.chroma .bp {
  color: #91d7e3;
}

.chroma .nc {
  color: #eed49f;
}

.chroma .no {
  color: #eed49f;
}

.chroma .nd {
  color: #8aadf4;
  font-weight: 700;
}

.chroma .ni {
  color: #8bd5ca;
}

.chroma .ne {
  color: #f5a97f;
}

.chroma .nf {
  color: #8aadf4;
}

.chroma .fm {
  color: #8aadf4;
}

.chroma .nl {
  color: #91d7e3;
}

.chroma .nn {
  color: #f5a97f;
}

.chroma .py {
  color: #f5a97f;
}

.chroma .nt {
  color: #c6a0f6;
}

.chroma .nv {
  color: #f4dbd6;
}

.chroma .vc {
  color: #f4dbd6;
}

.chroma .vg {
  color: #f4dbd6;
}

.chroma .vi {
  color: #f4dbd6;
}

.chroma .vm {
  color: #f4dbd6;
}

.chroma .s {
  color: #a6da95;
}

.chroma .sa {
  color: #ed8796;
}

.chroma .sb {
  color: #a6da95;
}

.chroma .sc {
  color: #a6da95;
}

.chroma .dl {
  color: #8aadf4;
}

.chroma .sd {
  color: #6e738d;
}

.chroma .s2 {
  color: #a6da95;
}

.chroma .se {
  color: #8aadf4;
}

.chroma .sh {
  color: #6e738d;
}

.chroma .si {
  color: #a6da95;
}

.chroma .sx {
  color: #a6da95;
}

.chroma .sr {
  color: #8bd5ca;
}

.chroma .s1 {
  color: #a6da95;
}

.chroma .ss {
  color: #a6da95;
}

.chroma .m {
  color: #f5a97f;
}

.chroma .mb {
  color: #f5a97f;
}

.chroma .mf {
  color: #f5a97f;
}

.chroma .mh {
  color: #f5a97f;
}

.chroma .mi {
  color: #f5a97f;
}

.chroma .il {
  color: #f5a97f;
}

.chroma .mo {
  color: #f5a97f;
}

.chroma .o {
  color: #91d7e3;
  font-weight: 700;
}

.chroma .ow {
  color: #91d7e3;
  font-weight: 700;
}

.chroma .c {
  color: #6e738d;
  font-style: italic;
}

.chroma .ch {
  color: #6e738d;
  font-style: italic;
}

.chroma .cm {
  color: #6e738d;
  font-style: italic;
}

.chroma .c1 {
  color: #6e738d;
  font-style: italic;
}

.chroma .cs {
  color: #6e738d;
  font-style: italic;
}

.chroma .cp {
  color: #6e738d;
  font-style: italic;
}

.chroma .cpf {
  color: #6e738d;
  font-weight: 700;
  font-style: italic;
}

.chroma .gd {
  color: #ed8796;
  background-color: #363a4f;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gr {
  color: #ed8796;
}

.chroma .gh {
  color: #f5a97f;
  font-weight: 700;
}

.chroma .gi {
  color: #a6da95;
  background-color: #363a4f;
}

.chroma .gs {
  font-weight: 700;
}

.chroma .gu {
  color: #f5a97f;
  font-weight: 700;
}

.chroma .gt {
  color: #ed8796;
}

.chroma .gl {
  text-decoration: underline;
}

.chroma .hl {
  display: flex;
}

.chroma .lnt {
  padding: 0 0 0 12px;
}

.highlight pre.chroma code {
  padding: 0;
}

.highlight pre.chroma .line .cl,
.chroma .ln {
  padding: 0 10px;
}

.chroma .lntd:last-of-type {
  width: 100%;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 24px 0 16px;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  margin: 32px auto 24px;
  font-size: 26px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 16px;
}

.post-content h5 {
  font-size: 14px;
}

.post-content h6 {
  font-size: 12px;
}

.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
  text-decoration: line-through;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
  margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}

.post-content li {
  margin-top: 5px;
}

.post-content li p {
  margin-bottom: 0;
}

.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.post-content dt {
  width: 25%;
  font-weight: 700;
}

.post-content dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}

.post-content dd~dd,
.post-content dt~dt {
  margin-top: 10px;
}

.post-content table {
  margin-bottom: var(--content-gap);
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
  min-width: 80px;
  padding: 8px 5px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}

.post-content table th {
  text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.post-content .highlight table {
  border-radius: var(--radius);
}

.post-content .highlight:not(table) {
  margin: 10px auto;
  background: var(--code-block-bg) !important;
  border-radius: var(--radius);
  direction: ltr;
}

.post-content li>.highlight {
  margin-inline-end: 0;
}

.post-content ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
  margin: 0;
  border-radius: 5px;
  padding: 15px 8px;
  overflow-x: auto;
}

.post-content .highlighttable {
  table-layout: fixed;
}

.post-content .highlighttable td:first-child {
  width: 40px;
}

.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.78em;
  line-height: 1.5;
  background: var(--code-bg);
  border-radius: 2px;
}

.post-content pre code {
  margin: auto 0;
  color: #d5d5d6;
  border-radius: var(--radius);
  overflow-x: auto;
  word-break: break-all;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.post-content blockquote {
  margin: 20px 0;
  padding: 14px 14px;
  border-inline-start: 3px solid var(--primary);
  background: #f3f3f3;
}

.post-content blockquote p {
  margin: 0;
}

.post-content hr {
  margin: 30px 0;
  height: 2px;
  background: #eee;
  border: 0;
}

.post-content iframe {
  max-width: 100%;
  outline: none;
  border: none;
}

.post-content img {
  border-radius: 4px;
  margin: 1rem 0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.post-content img[src*="#center"] {
  margin: 1rem auto;
}

.post-content figure.align-center {
  text-align: center;
}

.post-content figure>figcaption {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0 16px;
}

.post-content figure>figcaption>p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
  max-width: none !important;
  border-radius: 6px !important;
  padding: 0 !important;
  /* margin-top: 30px !important; */
  /* box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important; */
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview * {
  box-sizing: border-box !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
  width: 100% !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
  margin-top: 20px !important;
  width: 100% !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
  width: 100% !important;
  height: 40px !important;
  border-radius: 6px !important;
  border: 2px solid #e9e8e8 !important;
  background-color: #fff !important;
  outline: none !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
  color: #000000 !important;
  font-family: "Montserrat" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-align: center !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
  color: #999999 !important;
  opacity: 1 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
  color: #000000 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
  color: #000000 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
  margin-top: 10px !important;
  width: 100% !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
  width: 100% !important;
  height: 40px !important;
  border: 0 !important;
  border-radius: 6px !important;
  line-height: 0px !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
  cursor: pointer !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
  color: #231f20 !important;
  font-family: "Montserrat" !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
  margin-left: 10px !important;
  height: 1.13em !important;
  max-height: 1.13em !important;
}

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zimgbox {
  cursor: zoom-in;
}

#zimgbox-wrap {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

#zimgbox-wrap img {
  max-width: 95%;
  max-height: 95%;
  transform: scale(0);
}

#zimgbox-wrap img.zimgbox-act {
  animation: scale 0.3s forwards;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media(max-width:768px) {
  #zimgbox-wrap img {
    max-width: 100%;
  }
}