<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

  {{ partial "header.html" . }}
  <main class="main">

    <div>
      <h1 class="header-title">{{ .Title }}</h1>

      {{ if in .Site.Params.mainSections .Type }}
      <div class="entry-meta">
        发布于<time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}"> {{ .Date.Format "2006-01-02"}}</time>
      </div>
      <div class="expired-tips" style="display: none;"></div>
      {{ end }}
    </div>

    {{ if in .Site.Params.mainSections .Type }}
    <div class="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}

    <article class="post-content">
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}
    </article>

    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "comment.html" . }}
    {{ end }}

  </main>

  {{ partial "footer.html" . }}
</body>

</html>