baseURL: https://zishu.me/
languageCode: en-us
title: 子舒的博客
theme: 7 # 6
pagination:
  pagerSize: 10 # 首页文章显示个数
summaryLength: 999999 # 首页文章摘要字数
hasCJKLanguage: true
rssLimit: 10 # 限制 rss 输出的数量

markup:
  highlight:
    noClasses: false
  goldmark:
    renderer:
      unsafe: true
  tableOfContents:
    startLevel: 2 # 从 h2 开始
    endLevel: 3 # 到 h4 结束
    ordered: false # 生成 ul 而不是 ol

outputs:
  home:
    - HTML
    - RSS
    - JSON

permalinks:
  blog: /blog/:slug.html/ # 文章输出 url 格式

params:
  title: 子舒的博客
  description: 一个热爱生活的前端开发工程师
  logo:  https://imgurl.zishu.me/author.webp # 博主头像
  author: 子舒 # 博主昵称
  favicon:  https://imgurl.zishu.me/favicon.ico # 网站 favicon 图标
  buildDate: 2020-06-14 # 建站日期
  
  socials: # 导航
    - name: 首页
      icon: sparkles
      link: /
    - name: 标签
      icon: tags
      link: /tags/
    - name: 留言
      icon: message
      link: /message/
    - name: 关于
      icon: about
      link: /about/
    - name: 友链
      icon: friends
      link: /links/
    - name: 搜索
      icon: search
      link: /search/
    - name: RSS
      icon: rss
      link: /index.xml