{{ partial "header.html" . }}

<div class="main">
  <div class="list">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
    {{ $title := .Title }}
    {{ $summary := .Summary }}
    <article>
      <div class="info">
        <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}" class="title">{{ .Title }}</a></h2>
        <p class="description">{{ .Summary }}</p>
        <p class="date">
          <span>posted @</span>
          <time class="post-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format
            "2006-01-02"}}</time>
        </p>
      </div>
    </article>
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}
</div>
{{ partial "footer.html" . }}