{{ partial "header.html" . }}

<section id="home">
  <ul>
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
    {{ $title := .Title }}
    {{ $summary := .Summary }}
    <li>
      <h1><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      <aside>
        <ul>
          <li>
            <time class="post-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format
              "2006-01-02"}}</time>
          </li>
        </ul>
      </aside>
      <p>{{ .Summary }}</p>
    </li>
    {{ end }}
  </ul>
</section>
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}