{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
	<header class="entry-header">
		<h1>{{ .Title | markdownify }}</h1>
	</header>
	<div class="entry-content">
		<!-- {{ .Content | markdownify }} -->
		我是子舒。<br>
		前端程序员，独立博客作者，骑行爱好者，摄影爱好者。<br>
		现在生活工作在杭州。 <br>
		这是我在闲暇时间写的博客，记录生活。 [<我的骑行记录>](/riding/)。<br>
		参与我的社区交流：<a href="https://discord.gg/dfG9Tvje9b" target="_blank">https://discord.gg/dfG9Tvje9b</a> <br>
		// 希望用技术改变生活。
	</div>
	<footer class="entry-footer">
		{{ partial "social_icons.html" site.Params.socialIcons }}
	</footer>
</article>
{{- end -}}