<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  {{ partial "header.html" . }}

  <section class="inner">

    <div class="info">
      <div class="intro">
        <p>欢迎来到我的博客，已经运行了 <span id="days"></span> 天，有 <span id="busuanzi_value_site_pv">...</span> 位小伙伴逛过，写了 {{
          $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
      </div>
    </div>

    <script>
      const time = "{{ .Site.Params.buildDate }}";
      var now = new Date();
      var end = new Date(time);
      var diff = Math.abs(now - end);
      var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
      $('#days').html(days);
    </script>

    <ul>
      {{ $pages := .Site.RegularPages }}
      {{ $paginator := .Paginate ($pages) }}
      {{ $count := 0 }}

      {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}

      {{ if and (not (in .Params.categories "gallery")) (lt $count 9) }}
      {{ $count = add $count 1 }}

      <li class="box mb20 pd15">
        <h3 class="mb10"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <!-- <div class="thumb mb10">
          <p>{{ .Summary }}</p>
        </div> -->
        <div class="meta">
          {{ with .Params.categories }}
          {{ range . }}
          <span class="namenode">{{ . }}</span>
          {{ end }}
          {{ end }}
          <time>{{ .Date.Format "2006-01-02"}}</time>
        </div>
      </li>

      {{ end }}
      {{ end }}

      {{ partial "pagination.html" . }}
    </ul>

    {{ partial "footer.html" . }}
  </section>
</body>

</html>