{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <!-- <p class="author-bio">{{ .Site.Params.author.description }}</p> -->
    <p class="author-bio">我是子舒。<br>
        前端程序员，独立博客作者，骑行爱好者，摄影爱好者，INFJ人格。<br>
        现在生活工作在杭州。<br>
        这是我在闲暇时间写的博客，记录生活。</p>
</div>