<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <small class="footer_copyright">
        <div>© 2020 - <span id="year">{{ now.Format "2006" }}</span> Powered by {{ .Site.Params.author.name }}</div>
        <div>网站已经运行 <span id="days">0</span></div>
    </small>
</footer>
<script>
    var s0 = '2020-06-14';
    s1 = new Date(s0.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
  
    var date = new Date;
    var year = date.getFullYear();
    document.getElementById('year').innerHTML = year;
  
    var BootDate = new Date("2020-06-14");
    function ShowRunTime(id) {
      var NowDate = new Date();
      var RunDateM = parseInt(NowDate - BootDate);
      var RunDays = Math.floor(RunDateM / (24 * 3600 * 1000));
      var RunHours = Math.floor(RunDateM % (24 * 3600 * 1000) / (3600 * 1000));
      var RunMinutes = Math.floor(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) / (60 * 1000));
      var RunSeconds = Math.round(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) % (60 * 1000) / 1000);
      var days = RunDays + "天" + RunHours + "时" + RunMinutes + "分" + RunSeconds + "秒";
      document.getElementById(id).innerHTML = days;
    }
    ShowRunTime('days');
    setInterval("ShowRunTime('days')", 1000);
  </script>

{{- if .Site.Params.goToTop -}}
<a href="#" title="Go to top" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
