{{ partial "header.html" . }}
<script>$('body').addClass('list')</script>

<div class="main">
  <header class="header">
    <h1 class="header-title">{{ .Title }}</h1>
  </header>

  {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
  <h2 style="margin-bottom:10px;">{{ .Key }}</h2>
  {{ range .Pages }}

  <div class="list-item">
    <div class="list-item-prefix"><time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time></div>
    <div class="list-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
  </div>
  
  {{ end }}

  {{ end }}

  {{ partial "copyright.html" . }}
</div>

{{ partial "footer.html" . }}