{{ partial "header.html" . }}

<div class="main detail">
  <header class="header">
    <h1 class="header-title">{{ .Title }}</h1>
    {{ if in .Site.Params.mainSections .Type }}
    {{ if .Date }}
    <div class="post-meta">
      发布于 <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}"> {{ .Date.Format
        "2006-01-02"}}</time> ·
      本文总阅读量 <span id="busuanzi_value_page_pv">~</span> 次 ·
      <!-- Post Tags -->
      {{ if .Params.tags }}
      {{ range .Params.tags }} {{ $href := print (absURL "/tags/") (urlize .) }}
      / <a href="{{ $href }}">{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </header>
  <br>
  <script type="module" src="https://cdn.jsdelivr.net/gh/emaction/frontend.dist@1.0.9/bundle.js"></script>
  <emoji-reaction></emoji-reaction>
  <details class="toc" style="display:none;">
    <summary><b>Table of Contents</b></summary>
    {{ .TableOfContents }}
  </details>

  <article class="post-content markdown-body">
    {{ .Site.Params.postHeaderContent | safeHTML }}
    {{ .Content }}
  </article>



  {{ if in .Site.Params.mainSections .Type }}
  {{ partial "comment.html" . }}
  {{ end }}

  {{ partial "copyright.html" . }}
</div>
{{ partial "footer.html" . }}