<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  {{ partial "header.html" . }}

  <section>
    <div class="l-wrap">
      <article class="post-content">
        <p class="aboutme">这是我的个人博客，已经运行了 <span id="days"></span> 天，写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
        <div class="aside-list">
          <a href="/categories/技术/">技术</a>
          <a href="/categories/随笔/">随笔</a>
          <a href="/categories/weekly/">周刊</a>
        </div>
        
        <div class="home-title">Essays / 文章</div>
        <div class="indexpost">
          <!-- {{ $pages := .Site.RegularPages }}
          {{ $paginator := .Paginate ($pages) }}
          {{ $count := 0 }}

          {{ range $paginator.Pages }}
          {{ $title := .Title }}
          {{ $summary := .Summary }}
          <a href="{{ .RelPermalink }}" class="posts-item">
            <span class="title">{{ .Title }}</span>
            <span class="dashed"></span>
            <time class="date">{{ .Date.Format "2006-01-02"}}</time>
          </a>
          {{ end }} -->

          {{ $pages := .Site.RegularPages }}
          {{ $paginator := .Paginate ($pages) }}
          {{ $count := 0 }}

          {{ range $paginator.Pages }}
          {{ $title := .Title }}
          {{ $summary := .Summary }}

          {{ if and (not (in .Params.categories "weekly")) (lt $count 9) }}
          {{ $count = add $count 1 }}

          <div class="posts-item">
            <time class="date">{{ .Date.Format "2006-01-02"}}</time>
            <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
          </div>
          {{ end }}
          {{ end }}
        </div>

        <div class="home-title">About / 关于</div>
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
       
      </article>
    </div>
  </section>
  {{ partial "footer.html" . }}

  <script>
    const time = "{{ .Site.Params.buildDate }}";
    var now = new Date();
    var end = new Date(time);
    var diff = Math.abs(now - end);
    var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = days;

  </script>
</body>

</html>