<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

  <div class="light">
    <div class="content">
    {{ partial "header.html" . }}

      
      <div class="main">

        <h1 class="single-title">{{ .Title }}</h1>
        <div class="archive-count">该分类共有 {{ len .Pages }} 篇文章</div>

        <div class="archive-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <div class="archive-list-header" id="{{ .Key }}">{{ .Key }}</div>
          <div class="posts-list">
            {{ range .Pages }}
            <div class="post-line">
              <p class="line-date">{{ .Date.Format "2006/01/01"}} </p>
              <div>
                <p class="line-title">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </p>
                <p class="line-summary">
                  {{ with .Params.tags }}
                  标签：{{ range . }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                  {{ end }}
                  {{ end }}
                </p>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>

</html>