<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

  <div class="light">
    <div class="content">
    {{ partial "header.html" . }}

      
      <div class="main">

        <h1>{{ .Title }}</h1>
        <div class="archive-count">该分类共有 {{ len .Pages }} 篇文章</div>

        <div class="archive-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <div class="archive-list-header" id="{{ .Key }}">{{ .Key }}</div>
          <div class="posts-list">
            {{ range .Pages }}
            <div class="item">
              <div class="item-main">
                <div class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                <div class="item-info">
                  <div class="item-date">[{{ .Date.Format "2006-1-2"}}]</div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>

</html>