<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="light">
    <div class="content">
    {{ partial "header.html" . }}
      
      <div class="main">
        <h1>{{ .Title }}</h1>
  
        <article class="content post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </article>
  
        {{ partial "comment.html" . }}
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>

</html>