<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    {{ partial "header.html" . }}
    <div class="container">
      <div class="aside">
        {{ partial "aside.html" . }}
      </div>
      <div class="main">
        <h1>{{ .Title }}</h1>
        {{ if in .Site.Params.mainSections .Type }}
        <div class="meta">
          <div class="date">{{ .Date.Format "2006-1-2"}}</div>
          <div class="post-tags">
            {{ with .Params.categories }}
            {{ range . }}
            <span class="namenode">分类：<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            </span>
            {{ end }}
            {{ end }}
            <span class="tag-node">
              {{ with .Params.tags }}
              标签：{{ range . }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
              {{ end }}
              {{ end }}
            </span>
          </div>
        </div>
        {{ end }}
      
        <article class="content post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
          <div class="weekly-pagination"></div>
        </article>

        {{ if in .Site.Params.mainSections .Type }}
        {{ partial "comment.html" . }}
        {{ end }}

        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>

</html>