<div class="aside-item info">
  <div class="item-title">About Me</div>
  <a href="/" title="{{ .Site.Params.Title }}"><img src="{{ .Site.Params.Logo }}" width="72" height="72" class="avatar"
      alt="{{ .Site.Params.Title }}" border="0"></a>
  <div class="site-info">
    <div class="site-about">
      <p>一个热爱生活的前端开发工程师</p>
      <p><a href="/about/">查看更多</a></p>
    </div>
  </div>
</div>

<div class="aside-item link">
  <div class="item-title">文章分类</div>
  <div class="item-content">
    <div class="cate-list">
      <a href="/categories/技术/">技术</a>
      <a href="/categories/随笔/">随笔</a>
      <a href="/categories/weekly/">周刊</a>
    </div>
  </div>
</div>

{{ if in .Site.Params.mainSections .Type }}
<div class="aside-item toc">
  <div class="item-title">文章目录</div>
  <div class="item-content">
    {{ .TableOfContents }}
  </div>
</div>
{{ end }}