<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <main class="main">
      {{ partial "header.html" . }}

      <div>
        <h1>{{ .Title }}</h1>
        <p class="header-des">List of articles written on this website in a timeline view.</p>
      </div>

      {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
      <div class="items">
        <h3 id="{{ .Key }}">{{ .Key }}</h3>

        {{ range .Pages }}
        <div class="item">
          <div class="item-main">
            <a href="{{ .RelPermalink }}">
              <div class="item-title"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABJElEQVRoge3YMU7DMBjF8X8qqwxI3cqAEAvKCeglujFyAneDqRdh7EHKDcoSnyALykCHioFKHVgIQ5pIgAQYor4Gvt9kRZH9XuxkCBjzvyXvL2SZL2MnCQEmk9mHuXbhzaJZ5svT4WH0JMVqIyvRLPjT8DVViQR+H76mKJG0Fb5WrDatzfWZ0ah6SEn10p7vZNG2hBCAaqddHT5NL5WZooUQ8N6XDqrw/ZcbdaZvS9OrZhd6Rwd34jjx8nzajHvCHK2wAmpWQM0KqFkBNSugZgXUrICaFVCzAmpWQK3zBRzAYJADY3GUGLNm5ADW65Sn4loWJ9bD/QUwB7YFAIYnZ6o80Y6f5ywfq7EdIYU/dYS6/xm9XfRhMf36zj3ltr/ZjTEd9QotrVtOfoB6OAAAAABJRU5ErkJggg=="
                  class="pixelated mostFollowedWindow__tdImg" alt="icon" width="15">{{ .Title }}</div>
              <div class="item-info">
                <div class="item-date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z" }}">{{ .Date.Format
                  "2006-01-02"}}</div>
              </div>
            </a>
          </div>
        </div>
        {{ end }}

      </div>

      {{ end }}

    {{ partial "footer.html" . }}
  </main>
  </div>
</body>

</html>