<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <main class="main">
      {{ partial "header.html" . }}

      <h1>{{ .Title }}</h1>

      {{ if in .Site.Params.mainSections .Type }}
      <div class="date">
        <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}"> {{ .Date.Format "Jan 02, 2006"}}</time>
      </div>
      <div class="expired-tips" style="display: none;"></div>
      {{ end }}


      {{ if in .Site.Params.mainSections .Type }}
      <div class="toc">
        {{ .TableOfContents }}
      </div>
      {{ end }}

      <article class="post-content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </article>

      {{ if in .Site.Params.mainSections .Type }}
      {{ partial "comment.html" . }}
      {{ end }}


      {{ partial "footer.html" . }}
    </main>
  </div>
</body>

</html>