html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

#isread {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  z-index: 999;
}

.toc {

  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #TableOfContents {
    &>ul {
      margin: 0;
      background: #eee;
      padding: 15px;

      ul ul {
        padding-left: 30px;
      }
    }

    a {
      display: inline-block;
      padding: 3px 0;
      position: relative;
      text-decoration: none;
      margin-right: 10px;
      line-height: 1.4;
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.bg {
  color: #cad3f5;
  background-color: #24273a;
}

.chroma {
  color: #cad3f5;
  background-color: #24273a;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.chroma .err {
  color: #ed8796;
}

.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .hl {
  background-color: #474733;
}

.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: #8087a2;
}

.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: #8087a2;
}

.chroma .line {
  display: flex;
}

.chroma .k {
  color: #c6a0f6;
}

.chroma .kc {
  color: #f5a97f;
}

.chroma .kd {
  color: #ed8796;
}

.chroma .kn {
  color: #8bd5ca;
}

.chroma .kp {
  color: #c6a0f6;
}

.chroma .kr {
  color: #c6a0f6;
}

.chroma .kt {
  color: #ed8796;
}

.chroma .na {
  color: #8aadf4;
}

.chroma .nb {
  color: #91d7e3;
}

.chroma .bp {
  color: #91d7e3;
}

.chroma .nc {
  color: #eed49f;
}

.chroma .no {
  color: #eed49f;
}

.chroma .nd {
  color: #8aadf4;
  font-weight: 700;
}

.chroma .ni {
  color: #8bd5ca;
}

.chroma .ne {
  color: #f5a97f;
}

.chroma .nf {
  color: #8aadf4;
}

.chroma .fm {
  color: #8aadf4;
}

.chroma .nl {
  color: #91d7e3;
}

.chroma .nn {
  color: #f5a97f;
}

.chroma .py {
  color: #f5a97f;
}

.chroma .nt {
  color: #c6a0f6;
}

.chroma .nv {
  color: #f4dbd6;
}

.chroma .vc {
  color: #f4dbd6;
}

.chroma .vg {
  color: #f4dbd6;
}

.chroma .vi {
  color: #f4dbd6;
}

.chroma .vm {
  color: #f4dbd6;
}

.chroma .s {
  color: #a6da95;
}

.chroma .sa {
  color: #ed8796;
}

.chroma .sb {
  color: #a6da95;
}

.chroma .sc {
  color: #a6da95;
}

.chroma .dl {
  color: #8aadf4;
}

.chroma .sd {
  color: #6e738d;
}

.chroma .s2 {
  color: #a6da95;
}

.chroma .se {
  color: #8aadf4;
}

.chroma .sh {
  color: #6e738d;
}

.chroma .si {
  color: #a6da95;
}

.chroma .sx {
  color: #a6da95;
}

.chroma .sr {
  color: #8bd5ca;
}

.chroma .s1 {
  color: #a6da95;
}

.chroma .ss {
  color: #a6da95;
}

.chroma .m {
  color: #f5a97f;
}

.chroma .mb {
  color: #f5a97f;
}

.chroma .mf {
  color: #f5a97f;
}

.chroma .mh {
  color: #f5a97f;
}

.chroma .mi {
  color: #f5a97f;
}

.chroma .il {
  color: #f5a97f;
}

.chroma .mo {
  color: #f5a97f;
}

.chroma .o {
  color: #91d7e3;
  font-weight: 700;
}

.chroma .ow {
  color: #91d7e3;
  font-weight: 700;
}

.chroma .c {
  color: #6e738d;
  font-style: italic;
}

.chroma .ch {
  color: #6e738d;
  font-style: italic;
}

.chroma .cm {
  color: #6e738d;
  font-style: italic;
}

.chroma .c1 {
  color: #6e738d;
  font-style: italic;
}

.chroma .cs {
  color: #6e738d;
  font-style: italic;
}

.chroma .cp {
  color: #6e738d;
  font-style: italic;
}

.chroma .cpf {
  color: #6e738d;
  font-weight: 700;
  font-style: italic;
}

.chroma .gd {
  color: #ed8796;
  background-color: #363a4f;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gr {
  color: #ed8796;
}

.chroma .gh {
  color: #f5a97f;
  font-weight: 700;
}

.chroma .gi {
  color: #a6da95;
  background-color: #363a4f;
}

.chroma .gs {
  font-weight: 700;
}

.chroma .gu {
  color: #f5a97f;
  font-weight: 700;
}

.chroma .gt {
  color: #ed8796;
}

.chroma .gl {
  text-decoration: underline;
}

.chroma .hl {
  display: flex;
}

.chroma .lnt {
  padding: 0 0 0 12px;
}

.highlight pre.chroma code {
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
}

.highlight pre.chroma .line .cl,
.chroma .ln {
  padding: 0 10px;
}

.chroma .lntd:last-of-type {
  width: 100%;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 30px 0 10px;
}

.post-content h1 {
  font-size: 2.25em;
}

.post-content h2 {
  font-size: 1.5em;
}

.post-content h3 {
  font-size: 1.25em;
}

.post-content h4 {
  font-size: 1rem;
}

.post-content h5 {
  font-size: 1rem;
}

.post-content h6 {
  font-size: 1rem;
}

.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
  text-decoration: line-through;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
  margin-bottom: 1.5em;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}

.post-content li {
  margin-top: 5px;
}

.post-content li p {
  margin-bottom: 0;
}

.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.post-content dt {
  width: 25%;
  font-weight: 700;
}

.post-content dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}

.post-content dd~dd,
.post-content dt~dt {
  margin-top: 10px;
}

.post-content table {
  margin: 1em 0;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
  min-width: 80px;
  line-height: 1.5;
}

.post-content table th {
  text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.post-content .highlight table {
  border-radius: var(--radius);
}

.post-content .highlight:not(table) {
  margin: 10px auto;
  background: var(--code-block-bg) !important;
  border-radius: var(--radius);
  direction: ltr;
}

.post-content li>.highlight {
  margin-inline-end: 0;
}

.post-content ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
  margin: 0;
  border-radius: 5px;
  padding: 15px 10px;
  overflow-x: auto;
  position: relative;
  max-height: 500px;
}

.post-content .highlight {
  position: relative;
}

.post-content .highlight .tag {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 14px;
  font-family: inherit;
  z-index: 1;
  color: #fff;
}

.post-content .highlighttable {
  table-layout: fixed;
}

.post-content .highlighttable td:first-child {
  width: 40px;
}

.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.78em;
  line-height: 1.5;
  background: #eee;
  border-radius: 2px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.post-content pre code {
  margin: auto 0;
  color: #d5d5d6;
  border-radius: var(--radius);
  background: none;
  font-size: 0.9em;
  overflow-x: auto;
  word-break: break-all;
  // white-space: nowrap;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.post-content blockquote {
  margin: 20px 0;
  padding: 14px 14px;
  border-inline-start: 3px solid var(--primary);
  background: #f3f3f3;
}

.post-content blockquote p {
  margin: 0;
}

.post-content hr {
  margin: 30px 0;
  height: 2px;
  background: #eee;
  border: 0;
}

.post-content iframe {
  max-width: 100%;
  outline: none;
  border: none;
}

.post-content img {
  border-radius: 4px;
}

.post-content img[src*="#center"] {
  margin: 1rem auto;
}

.post-content figure.align-center {
  text-align: center;
}

.post-content figure>figcaption {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0 16px;
}

.post-content figure>figcaption>p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.iframe {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zimgbox {
  cursor: zoom-in;
}

#zimgbox-wrap {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

#zimgbox-wrap img {
  max-width: 95%;
  max-height: 95%;
  transform: scale(0);
}

#zimgbox-wrap img.zimgbox-act {
  animation: scale 0.3s forwards;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media(max-width:768px) {
  #zimgbox-wrap img {
    max-width: 100%;
  }
}

table {

  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ccc;
    padding: 6px 20px;
  }
}

.expired-tips {
  padding: 10px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #ffffc0;
  border-left: 5px solid #fff000;
  color: #333;
  overflow: hidden;
  margin: 1em 0;
}

main {
  --color-btn-primary-bg: #000000;
  --color-btn-primary-hover-bg: #1d1d1d;
}

details {
  margin-bottom: 1.5em;

  summary {
    cursor: pointer;
  }
}

#searchForm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;

  input {
    flex: 1;
    height: 32px;
    padding: 0 15px;
    outline: none;
    border: 2px solid #c4c3c3;
    transition: all 0.1s linear;

    &:focus {
      border-color: #666;
    }
  }

  button {
    height: 32px;
    padding: 0 15px;
    cursor: pointer;
    background: #c4c3c3;
    outline: none;
    border: 2px solid #c4c3c3;
    transition: all 0.1s linear;
    margin-left: 10px;
  }
}

#resultsList {
  padding-left: 18px;

  .keyword-highlight {
    background: #f6f694;
    padding: 0 4px;
    border-radius: 3px;
  }

  &>li {
    margin-bottom: 20px;

    &>a {
      color: #0000ff;
    }
  }

  * {
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    font-weight: 400;
  }
}

@media (min-width:768px) {
  .highlight pre::-webkit-scrollbar {
    width: 10px;
    height: 4px
  }

  .highlight pre::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0
  }

  .highlight pre::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
    transition: all .1s linear
  }

  .highlight pre::-webkit-scrollbar-thumb:hover {
    background: #bdbbbb
  }
}