::selection {
  background: rgba(51, 51, 51, 0.4);
}

::-moz-selection {
  background: rgba(51, 51, 51, 0.4);
}

::-webkit-selection {
  background: rgba(51, 51, 51, 0.4);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "LXGWNeoXiHei";
  font-display: swap;
  src: url(../fonts/LXGWNeoXiHei.ttf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: bottom;
}

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

details {
  background: #f3f3f369;
  border-radius: 4px;
  overflow: hidden;
}

details summary {
  background: #eee;
  padding: 2px 10px;
}

details>*:nth-child(n + 2) {
  margin-left: 15px;
  margin-right: 15px;
}

details>*:nth-child(2) {
  margin-top: 15px;
}

/* simplebox.min.css 图片灯箱css */
:root {
  --time: 500ms;
}

#overlay,
.cross {
  will-change: transform;
}

#overlay,
.center,
.cross {
  top: 0;
  right: 0;
}

.cross--light::after,
.cross--light::before {
  background-color: #000;
}

.cross--dark::after,
.cross--dark::before {
  background-color: #fff;
}

.slb {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.slb--invert {
  box-shadow: 2px 2px 12px 1px rgba(255, 255, 255, 0.3);
}

.slb--opened {
  cursor: auto;
}

.pop-in {
  -webkit-animation: pop-in var(--time);
  -moz-animation: pop-in var(--time);
  -ms-animation: pop-in var(--time);
}

.pop-out {
  -webkit-animation: pop-out var(--time);
  -moz-animation: pop-out var(--time);
  -ms-animation: pop-out var(--time);
}

#overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 999;
  cursor: zoom-out;
}

.center {
  max-height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: zoom-out;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.gotop {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  cursor: pointer;
  color: #000;
  background-color: #eee;
  border-color: #f8f9fa;
  font-size: 20px;
  transition: all 0.1s linear;
  opacity: 0;
  visibility: hidden;
}

.gotop.act {
  animation: up 0.2s forwards;
}

.gotop:hover {
  background: #dcdbdb;
}

@keyframes up {
  0% {
    opacity: 0;
    visibility: hidden;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    visibility: inherit;
    bottom: 2em;
  }
}

/* vanilla-lazyload2 */
img.lazy {
  display: inline-block;
  opacity: 0;
}

img.lazy,
img.tst {
  transition:
    opacity 0.6s,
    transform 0.3s ease;
}

img.loaded {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

.lazy-load {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  background-color: #ccc;
  animation: loading 1s linear infinite;
  border-radius: 100%;
}

.lazy-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.lazy-wrap::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.lazy-wrap.lazy-loaded .lazy-load {
  -webkit-animation: none;
  animation: none;
  display: none;
}

.lazy-wrap.lazy-loaded::after {
  padding-bottom: 0;
}

@keyframes loading {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

.progress-bar {
  height: 3px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgb(16 158 222);
  width: 0;
}

#searchTerm {
  width: 100%;
}

#resultsContainer {
  margin-top: 10px;
}

#resultsContainer a {
  color: #000;
  padding: 3px 0;
  display: block;
}

#resultsContainer a:hover {
  text-decoration: underline;
}