html {
  overflow-y: scroll;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  line-height: 1.15;
}

@-ms-viewport {
  width: device-width;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.6;
  margin: 0;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

abbr[data-original-title],
abbr[title] {
  border-bottom: 0;
  cursor: help;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1em;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  -webkit-appearance: none;
}

dl,
ol,
ul {
  margin-bottom: 1em;
  margin-top: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1em;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  color: #337ab7;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
}

a:active,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

code,
kbd,
pre,
samp {
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
  font-size: 1em;
}

pre {
  margin-bottom: 1em;
  margin-top: 0;
  overflow: auto;
}

figure {
  margin: 0 0 1em;
}

img {
  border-style: none;
  vertical-align: middle;
}

[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: rgba(0, 0, 0, 0.45);
  padding-bottom: 0.3em;
  padding-top: 0.75em;
  text-align: left;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: block;
  font-size: 1.5em;
  line-height: inherit;
  margin-bottom: 0.5em;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: none;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

mark {
  background-color: #feffe6;
  padding: 0.2em;
}

::-moz-selection {
  background: #1890ff;
  color: #fff;
}

::selection {
  background: #1890ff;
  color: #fff;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

header {
  position: relative;
  margin-top: 30px;
}

header .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

header .logo,
header .logo:hover {
  color: #4d444f;
}

header ul {
  display: block;
  display: flex;
  margin-bottom: 0;
  position: relative;
}

header ul li {
  display: block;
  margin-left: 5px;
}

header ul li a {
  color: #2c2c3b;
  font-size: 18px;
  padding: 2px;
  position: relative;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.1s linear;

  &:hover,
  &.active {
    color: #2c2c3b;
    transition: none;
    background: #c1c1c1;
  }
}

.content {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

footer p {
  margin: 0;
}

.date {
  color: rgba(0, 0, 0, 0.5);
}

.post-content {
  margin-top: 30px;
}

#TableOfContents {
  position: sticky;
  top: 100px;

  &>ul {
    padding: 20px 0 0;
    list-style: none;
    border-top: 1px solid #dedede;
  }

  a {
    color: #333;
  }
}

@media screen and (max-width: 1080px) {
  .content {
    padding: 0 10px;
    width: auto;
  }

  header .content {
    padding: 0 20px;
  }

  .content .detail {
    display: block;
  }

  .content .main {
    width: 100%;
  }

  .content .main .wechat_pub {
    display: block;
  }

  .content .aside,
  .sidenav {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  footer {
    height: auto;
    padding: 20px 0;
  }

  .navbar form,
  .qrcode {
    display: none;
  }

  .wechat_pub img {
    height: 165px;
    width: 165px;
  }
}

@media screen and (max-width: 462px) {
  .detail h1 {
    font-size: 24px;
  }

  nav em {
    cursor: pointer;
    display: block;
  }

  nav em:after {
    content: "\2630";
    display: block;
    font-size: 1.5em;
    font-style: normal;
  }

  nav ul {
    background-color: #fff;
    display: none;
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 19;
    padding: 10px 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  }

  nav ul li {
    margin-left: 0;
    padding: 4px 0;
    text-align: center;
    width: 100%;
  }

  nav ul li a {
    padding: 6px 10px;
    display: block;
  }

  nav ul li a:hover {
    background: none;
  }

  .wechat_pub img {
    height: 130px;
    width: 130px;
  }
}

.container {
  margin-top: 30px;

  .content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.main {
  width: 100%;
  position: relative;
  margin: 20px 0 0;
}

.main .list article {
  line-height: 1.8em;
  margin-bottom: 40px;
}

.main .list h2 {
  font-weight: 400;
}

.main .list h2 .title {
  box-shadow: 0 0 1px transparent;
  font-size: 1.4rem;
  position: relative;
  color: #1a202c;
  font-weight: 500;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.main .list .description {
  color: #3e3e3e;
  font-size: 15px;
  margin-bottom: 0;
}

.main .list .more {
  color: #3e3b3f;
  font-size: 12px;
}

.main .list .date {
  color: #718096;
  font-size: 15px;
  margin-top: 5px;
}

.main .list .comment {
  margin-left: 4px;
}

.page {
  text-align: center;
}

.page a,
.page span {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 0 2px;
  text-align: center;
  width: 35px;
}

.page span {
  background: #ececec;
  cursor: default;
}

.page .next,
.page .prev {
  border-radius: 4px;
  padding: 0 6px;
  width: auto;
}

.end {
  display: block;
  text-align: center;
  padding: 50px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  a {
    color: #000;
    margin-bottom: 15px;
    margin-right: 20px;
  }
}

.list h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
}

.list .archive-post {
  border-left: 1px solid #ccc;
  padding: 6px 20px;
  width: fit-content;
  font-size: 17px;
}

.list .archive-post a {
  color: #444;
}

.list .archive-post .uptime {
  color: #8a8a8a;
  margin-right: 10px;
  font-family: math;
}

.list .archive-post a:hover {
  text-decoration: underline;
}

.attent-det ul {
  padding-left: 30px;
  list-style: none;
  padding: 0 0 0 5px;
}

.titleh1 {
  font-size: 1.6rem;
}

.tag {
  border-top: 1px solid #eee;
  padding-top: 1em;

  a {
    display: inline-block;
    margin-right: 10px;
  }
}

.aside {
  position: fixed;
  top: 30%;
  z-index: 99;
  margin-left: -70px;

  .item {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #666;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.1s linear;

    &:hover {
      box-shadow:
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) -2px 2px 25px -5px, rgba(0, 0, 0, 0.1) 4px 4px 10px -6px
    }
  }
}