body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 16px;
  background-color: #F5F5FA;
}

a {
  text-decoration: none;
  color: #3890ff;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: #58544B;
  background-color: #EFEFEF;
  padding: 8px;
  border-left: 10px solid #EFEFEF;
  margin: 0;
  word-break: break-all;
}

.box {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  position: relative;
  border-radius: 8px;
  padding: 20px 0;
}

.inner {
  width: 100%;
  max-width: 760px;
  position: relative;
  margin: 40px auto;
}

.pd15 {
  padding: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.meta {
  color: #CCC;
  font-size: 12px;
}

.namenode {
  background-color: #EFF3F5;
  color: #B2BFC9;
  font-family: arial;
  padding: 3px 5px;
  border-radius: 2px;
  margin-right: 4px;
}

.content {
  line-height: 180%;
  color: #333;
}

.thumb {
  height: 124px;
  overflow: hidden;
}

.thumb img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  background-color: #333;
  border: 2px solid #EFF3F5;
}

li a {
  color: #333;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px;
}
.header .logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}
.header .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .menu a {
  margin-left: 20px;
  color: #333;
  font-size: 16px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.header-des {
  color: #666;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header .menu {
    margin-top: 2em;
  }

  .inner {
    margin-top: 20px;
  }
}
.comments {
  padding: 0 20px;
}