html {
  overflow: hidden;
}

a {
  color: #8aadf4;
}

li::marker {
  color: #d1d5db;
}

table {
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 1.8;
  color: #cdd9e5;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(at 79.5280958592% 94.725450896%, #182f57 0%, rgba(24, 47, 87, 0) 100%), radial-gradient(at 12.7578388145% 54.535783553%, #1b4661 0%, rgba(27, 70, 97, 0) 100%), radial-gradient(at 19.1818200884% 66.3868369019%, #19454b 0%, rgba(25, 69, 75, 0) 100%), radial-gradient(at 41.7032955121% 36.28592837%, #1b6156 0%, rgba(27, 97, 86, 0) 100%), radial-gradient(at 53.3533387086% 66.3063029146%, #18573b 0%, rgba(24, 87, 59, 0) 100%), radial-gradient(at 25.1456122617% 33.5243249923%, #182f57 0%, rgba(24, 47, 87, 0) 100%), radial-gradient(at 35.3072057073% 71.3677115123%, #1b4661 0%, rgba(27, 70, 97, 0) 100%), radial-gradient(at 73.4774331076% 3.2978153425%, #19454b 0%, rgba(25, 69, 75, 0) 100%), radial-gradient(at 96.5138829191% 45.0761294836%, #1b6156 0%, rgba(27, 97, 86, 0) 100%);
}

.headnav {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: auto;
  height: 100vh;
  padding: 3em 2em;
  color: #fff;
}
.headnav p {
  font-size: 15px;
}
.headnav .logo {
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}
.headnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid #525a67;
  padding-top: 10px;
}
.headnav ul a {
  display: flex;
  text-decoration: none;
  padding: 5px 0;
  color: #fff;
}

#body {
  flex: 1;
  padding-left: 30px;
  height: 100vh;
  overflow-y: auto;
  padding: 2em;
}

.container {
  max-width: 800px;
  padding: 2em;
  border-radius: 10px;
  background: radial-gradient(at 94.7164251986% 34.6828037885%, #110e0c 0%, rgba(17, 14, 12, 0) 100%), radial-gradient(at 48.9215182246% 24.8246056295%, #694c7c 0%, rgba(105, 76, 124, 0) 100%), radial-gradient(at 55.31504923% 7.4383913562%, #097f92 0%, rgba(9, 127, 146, 0) 100%), radial-gradient(at 80.7718510278% 78.1353672672%, #110e0c 0%, rgba(17, 14, 12, 0) 100%), radial-gradient(at 53.1089496692% 58.9379583209%, #694c7c 0%, rgba(105, 76, 124, 0) 100%), radial-gradient(at 99.7070932179% 53.0487354901%, #097f92 0%, rgba(9, 127, 146, 0) 100%), radial-gradient(at 22.2788534833% 1.3392233881%, #110e0c 0%, rgba(17, 14, 12, 0) 100%), radial-gradient(at 29.9163712009% 80.3637868409%, #694c7c 0%, rgba(105, 76, 124, 0) 100%), radial-gradient(at 88.7403431295% 31.6010133055%, #097f92 0%, rgba(9, 127, 146, 0) 100%), radial-gradient(at 17.4511457286% 64.7126379792%, #110e0c 0%, rgba(17, 14, 12, 0) 100%);
}
.container .aside-list {
  display: flex;
  margin-bottom: 20px;
}
.container .aside-list a {
  text-decoration: none;
  margin-right: 10px;
  background-color: #586c8d;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}
.container .aside-list a.active {
  background-color: #586c8d;
}
.container .posts-year {
  margin-top: 0;
  margin-bottom: 10px;
}

.posts-list {
  margin-bottom: 30px;
}

.posts-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 4px;
}
.posts-item .date {
  white-space: nowrap;
  font-size: 14px;
  padding-top: 4px;
  margin-right: 14px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.body-title {
  font-size: 24px;
  font-weight: bold;
}

.post-meta {
  font-size: 14px;
  color: #909090;
  padding: 20px 0;
}
.post-meta a {
  color: #909090;
}

.namenode {
  margin-left: 20px;
}

.tag-node {
  margin-left: 20px;
}
.tag-node a {
  margin-right: 5px;
}

.post-content img {
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
}

.comments {
  padding: 40px 0;
}

.footer {
  margin-top: 30px;
  font-size: 15px;
}

@media (max-width: 900px) {
  html {
    overflow: inherit;
  }

  body {
    display: block;
    height: auto;
    overflow-y: scroll;
    padding: 20px 0;
  }

  .headnav {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0 15px;
  }
  .headnav ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .headnav ul a {
    margin-right: 20px;
  }

  #body {
    height: auto;
    padding: 15px;
  }

  .container {
    padding: 15px;
  }
  .container .aside-list a {
    margin-right: 20px;
  }

  .container .posts {
    padding-left: 0;
  }
}
.tags-list {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.tags-list li {
  margin-right: 10px;
}

.indexpost {
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e7eb;
}

.toc {
  position: sticky;
  top: 0;
  margin-left: calc(100% + 30px);
  width: 300px;
  height: 0;
}