:root {
  --box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

body {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.8;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 1.125rem;
  color: #000;
}

.body {
  max-width: 720px;
  margin: 2em auto;
  border-radius: 6px;
  min-height: 90vh;
}

header {
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: inline-block;
    font-size: 1.5rem;
    height: 100%;
    text-decoration: none !important;
    white-space: nowrap;
    position: relative;
    padding: 2px 6px;
    transform: skew(-10deg);
  }

  .nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s linear;
      margin: 10px 20px 10px 0;
      text-decoration: none;
      white-space: nowrap;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .icon {
      display: flex;

      a {
        margin-left: 10px;
        color: #333;
      }
    }
  }
}

a {
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}

.subscribe {
  text-align: center;
  font-size: 16px;
}

.postlist {
  margin-top: 20px;
}

.postitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  background: #f6f8fa;
  border: 1px solid rgba(31, 35, 40, 0.221);
  border-bottom: none;
  padding: 10px 14px;

  &:last-child {
    border-bottom: 1px solid rgba(31, 35, 40, 0.22);
  }

  &:hover {
    text-decoration: none;
    background: #eff3f5;
  }

  time {
    color: #747474;
    padding: 2px 10px;
    border-radius: 4px;
  }

  .title {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: #333;

    svg {
      margin-right: 12px;
      fill: currentColor;
      margin-top: 10px;
    }
  }
}

.meta {
  font-size: 16px;
  flex: 1;
  text-align: right;
  white-space: nowrap;
  font-family: Consolas, "Courier New", Courier, Monaco, Menlo, monospace;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    color: #666;
  }
}

.arthive-item {
  display: flex;
  align-items: center;

  time {
    color: #999;
    width: 100px;
  }

  .arthive-title {
    padding: 5px 0;
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  margin-right: 0;
  margin-bottom: 30px;

  section {
    margin-top: 20px;
  }
}

.single-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #336bad;
  }
}

footer {
  margin: 40px auto 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  opacity: 0.8;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    padding: 0;
  }
}

.single-title {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.single-date {
  display: block;
  padding-top: 5px;
  font-size: 15px;
  border-bottom: 1px solid #d3d3d3;
}

.page-meta {
  margin-bottom: 10px;
}

.post-content {
  padding-top: 30px;
  // font-weight: 300;

  a {
    text-decoration: underline;
    transition: all 0.1s linear;

    &:hover {
      background: #eeeeee;
    }
  }

  blockquote {
    background: #eee;
    padding: 10px;
  }
}

.mob-menu {
  display: none;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .body {
    margin: 0 auto 30px;
  }

  .mob-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: auto;
  }

  .back {
    padding-left: 10px;
  }

  header {
    text-align: center;
    display: block;
    border-bottom: none;

    .logo {
      font-size: 1.6em;
      font-family: inherit;
      border: none;
      margin-bottom: 20px;
    }

    .nav {
      flex-direction: column;
      display: none;

      a {
        display: flex;
        width: 100%;
        height: auto;
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
        text-align: center;

        &:hover {
          background: none;
        }
      }

      .icon {
        flex-direction: column;

        a {
          margin: 0;
        }
      }
    }
  }

  .arthive-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .arthive-title {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  main {
    margin: 0 10px;
  }

  section {
    padding: 0 10px;
  }

  .meta {
    display: none;
  }
}

.highlight pre {
  border: 1px solid #cbcbcb;

  * {
    font-weight: 400 !important;
  }
}

.tags {
  margin-top: 1em;

  a {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 12px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.1s linear;
    background: #eee;

    &:hover {
      background: #d0d0d0;
    }
  }
}

.tagslist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    padding: 2px 12px;
    border-radius: 4px;
    background: #eee;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-flex;
    text-decoration: none;
    transition: all 0.1s linear;

    &:active {
      background: #d0d0d0;
      transform: scale(0.96);
    }
  }
}

.aboutme {
  display: flex;
  flex-direction: column;
  display: none;

  img {
    width: 50px;
    border-radius: 50%;
  }

  .content {
    flex: 1;

    .icons {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-right: 10px;
        position: relative;

        &:hover {
          em {
            display: inline-flex;
          }
        }

        svg {
          width: 20px;
        }

        em {
          position: absolute;
          top: 100%;
          left: 0;
          border-radius: 4px;
          padding: 4px 10px;
          background: #000;
          color: #fff;
          display: none;
          align-items: center;
          justify-content: center;
          font-style: normal;
          white-space: nowrap;
        }
      }
    }
  }
}

#TableOfContents {
  font-size: 16px;

  &>ul {
    list-style: none;
    padding: 20px 20px;
    border-radius: 0.375rem;
    border: 2px solid #e5e5e5;
    background-color: #fff;

    ul {
      padding-left: 0;
      list-style: none;
    }
  }

}

@media (min-width: 1330px) {
  #TableOfContents {
    position: sticky;
    top: 50px;
    margin-left: calc(100% + 40px);
    width: 300px;
    height: 0;
  }
}

.back {
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.end {
  text-align: center;
  display: block;
  padding: 40px 0;
  color: #aaa;
}

#searchTerm {
  width: 100%;
}

#resultsContainer {
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
  }
}