html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--fonts);
  color: var(--body-font-color);
  font-size: 1.0rem;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

/* main links colors */

a:link, a:visited {
  transition: ease-in-out 0.2s;
  color: var(--a-main-link-color);
}

a:hover {
  color: var(--a-main-bg-color-hover);
}

/* main section */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.left {
  flex: 25%;
  display: flex;
  background-color: var(--section-about-bg-color);
  padding: 1rem;
  text-align: center;
}

section.left article {
  width: 100%;
}

section.right {
  flex: 70%;
  display: flex;
  flex-direction: column;
  background-color: var(--section-content-bg-color);
}

div.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--a-menu-border-color);
  max-height: 3.9rem;
}

/* responsive part for mobile on main section */

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  section.left {
    flex: 100%;
    order: 1;
  }

  section.right {
    flex: 100%;
    order: 0;
  }
}

/* header */

header {
  background-color: var(--header-bg-color);
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-size: xxx-large;
  font-weight: bold;
}

header h2 {
  font-size: x-large;
}



/* main menu */

div.menu nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
}

div.menu a:link, div.menu a:visited {
  flex: 1;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: var(--a-menu-link-color);
  font-size: larger;
  font-weight: bold;
  background-color: var(--a-menu-bg-color);
  padding: 1rem;
  border-right: 1px solid var(--a-menu-border-color);
}

div.menu a:hover {
  background-color: var(--a-menu-bg-color-hover);
}

/* content */

div.content {
  padding: 0.3rem;
  color: var(--div-book-details-font-color);
}

div.content h1 {
  font-size: xx-large;
  padding-left: 1rem;
}

div.content h2 {
  font-size: normal;
  padding-left: 1rem;
}


div.content h2.author {
  font-size: normal;
  padding-left: 2rem;
}

div.book-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid var(--div-book-details-border-color);
  border-bottom: 1px solid var(--div-book-details-border-color);
  margin: 0.5rem;
}

div.book-details {
  flex: 60%;
  padding: 0.5rem;
  background-color: var(--div-book-details-bg-color);
  color: var(--div-book-details-font-color);
}

.book-details h3 {
  font-size: smaller;
}

div.book-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

div.book-entry-grid {
  flex: 1;
  width: 32%;
  max-width: 32%;
  background-color: var(--div-book-entry-grid-bg-color);
  margin: 0.2rem;
}


div.book-entry-grid h1 {
  font-size: 1.2rem;
}

div.book-entry-grid h3 {
  font-size: smaller;
  margin: 0.5rem;
}

div.book-entry-grid details{
  margin: 0.5rem;
}

div.book-cover {
  flex: 20%;
  padding: 0.5rem;
  text-align: center;
}

div.book-cover img {
  max-width: 200px;
  height: auto;
  max-height: 327px;
  box-shadow: 10px 10px 5px var(--img-book-cover-shadow-color);
}


@media only screen and (max-width: 600px) {
  div.book-grid {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  div.book-entry-grid {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

p.read-more {
  margin-top: 2rem;
}

a:link.read-more, a:visited.read-more {
  text-decoration: none;
  color: var(--a-readmore-color);
  background-color: var(--a-readmore-bg-color);
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--a-readmore-border-color);
  transition: ease-in-out 0.2s;
  margin: 0.5rem;
}

a:hover.read-more {
  background-color: var(--a-readmore-bg-color-hover);
}

a:link.book-link-icon, a:visited.book-link-icon {
  text-decoration: none;
}

a:link.book-link-icon path, a:visited.book-link-icon path {
  fill: var(--a-main-link-color);
  transition: ease-in-out 0.2s;
}

a:hover.book-link-icon {
  fill: var(--a-main-link-color-hover);
  transition: ease-in-out 0.2s;
}

a:link.book-link-name, a:visited.book-link-name {
  text-decoration: none;
  transition: ease-in-out 0.2s;
  font-size: 3.5rem;
  text-transform: uppercase;
}

a:hover.book-link-name {
  fill: var(--a-main-link-color-hover);
  transition: ease-in-out 0.2s;
}

div.book-metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--div-book-details-border-color);
}

div.book-metadata-entry {
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: larger;
  min-width: 10rem;
}

div.book-metadata-entry svg {
  float: left;
  margin-right: 0.5rem;
}

div.book-metadata-entry svg path {
  fill: var(--div-book-details-font-color)
}

div.page-count-popup {
  position: relative;
  display: inline-block;
}

div.page-count-popup span.page-count-popup-content {
  visibility: hidden;
  width: 200px;
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
  text-align: center;
  font-size: smaller;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -1rem;
}

div.page-count-popup:hover span.page-count-popup-content, .page-count-popup:active span.page-count-popup-content {
  visibility: visible;
}

/* blog */

ul.blog-feed {
  margin: 0;
  padding: 0;
}

ul.blog-feed li {
  list-style: none;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid var(--div-book-details-border-color);
}

/* mastodon feed */

.mastodon-feed {
  margin-left: auto;
  margin-right: auto;
}

.mastodon-feed div.header {
  background-color: var(--header-bg-color);
  max-height: 4.9rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--body-font-color);
}

.mastodon-feed div.header img {
  max-width: 45px;
  border-radius: 50%;
  margin: 0.5rem;
  flex: 1;
}

.mastodon-feed div.header a:link, .mastodon-feed div.header a:visited {
  color: var(--a-menu-link-color);
  font-size: large;
  flex: 1;
}

.mastodon-feed div.header a.follow-button {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  max-width: 5rem;
  color: var(--body-font-color);
  background-color: var(--a-menu-bg-color-hover);
  text-decoration: none;
  border-radius: 5px;
}

.mastodon-feed div.header a.follow-button:hover {
  background-color: var(--a-mastodon-follow-bg-color-hover);
}

.mastodon-feed div.header a:hover {
  text-decoration: none;
}

.mastodon-feed div.status {
  border: 1px solid var(--div-book-details-border-color);
  padding: 1rem;
  padding-bottom:0;
  margin-bottom: 1rem;
}

.mastodon-feed div.status div.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--div-book-details-border-color);
  font-size: smaller;
}

/* about */

img.avatar {
  /* draw a circle around the picture and center it, max size 200px */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.about {
  font-size: 1.5rem;
}

h2.about {
  text-align: left;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--a-menu-border-color);
}

div.about-author {
  text-align: left;
}

a.social-button:link, a.social-button:visited {
  text-decoration: none;
}

a.social-button:link svg path, a.social-button:visited svg path {
  fill: var(--a-social-button-link-color);
}

a.social-button:hover svg path {
  fill: var(--a-social-button-link-color-hover);
  transition: ease-in-out 0.2s;
}

a.support-button {
  border-radius: 5px;
  background-color: var(--a-support-bg-color);
  color: var(--a-menu-link-color);
  text-decoration: none;
  min-height: 42px;
  border: none;
  display: grid;
  place-items: center;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

a.support-button:active,
a.support-button:active:focus,
a.support-button:hover {
  background-color: var(--a-support-bg-color-hover);
}

a.patreon-button {
  background-color: var(--a-patreon-bg-color);
  color: var(--a-menu-link-color);
}

a.patreon-button:active,
a.patreon-button:active:focus,
a.patreon-button:hover {
  background-color: var(--a-patreon-bg-color-hover);
}

a.kofi-button {
  background-color: var(--a-kofi-bg-color);
  color: var(--a-kofi-font-color);
}

a.kofi-button:active,
a.kofi-button:active:focus,
a.kofi-button:hover {
  background-color: var(--a-kofi-bg-color-hover);
}

a.liberapay-button {
  background-color: var(--a-liberapay-bg-color);
  color: var(--a-liberapay-font-color);
}

a.liberapay-button:active,
a.liberapay-button:active:focus,
a.liberapay-button:hover {
  background-color: var(--a-liberapay-bg-color-hover);

}

a.commission-button {
  background-color: var(--a-commission-bg-color);
  color: var(--a-commission-color);
}

a.commission-button:active,
a.commission-button:active:focus,
a.commission-button:hover {
  background-color: var(--a-commission-bg-color-hover);
}

p.rss-subscribe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 15rem;
  margin-left:auto;
  margin-right:auto;
}

a.rss-button {
  background-color: var(--a-rss-bg-color);
  color: var(--a-rss-color);
  min-width: 4rem;
  flex: 1;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
}

a.rss-button svg {
  margin: 0.1rem;
}

a.rss-button:active,
a.rss-button:active:focus,
a.rss-button:hover {
  background-color: var(--a-rss-bg-color-hover);
}

p.disclaimer {
  text-align: left;
  color: var(--p-disclaimer-font-color);
}

/* footer */

footer {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding: 1rem;
}

.footer-credits {
  font-size: smaller;
}
