:root {
  --body-bg-color: #4C566A;
  --body-font-color: #ECEFF4;
  --header-bg-color: #3B4252;
  --footer-bg-color: #3B4252;
  --section-about-bg-color: #3B4252;
  --section-content-bg-color: #D8DEE9;

  --a-menu-bg-color: #3B4252;
  --a-menu-bg-color-hover: #BF616A;
  --a-menu-link-color: #ECEFF4;
  --a-menu-border-color: #D8DEE9;

  --a-main-link-color: #BF616A;
  --a-main-border-color: #D8DEE9;


  --img-book-cover-shadow-color: #4C566A;

  --a-social-button-link-color: #ECEFF4;
  --a-social-button-link-color-hover: #BF616A;

  --a-readmore-color: #2E3440;
  --a-readmore-bg-color: #A3BE8C;
  --a-readmore-bg-color-hover: #8FBCBB;

  --div-book-details-bg-color: #D8DEE9;
  --div-book-details-font-color: #3B4252;
  --div-book-details-border-color: #3B4252;
  --div-book-entry-grid-bg-color: #ECEFF4;
  /* support buttons */

  --a-support-bg-color: #BF616A;
  --a-support-bg-color-hover: #e13d47;

  --a-commission-color: #2E3440;
  --a-commission-bg-color: #A3BE8C;
  --a-commission-bg-color-hover: #8FBCBB;

  --a-kofi-font-color: #2E3440;
  --a-kofi-bg-color: #D8DEE9;
  --a-kofi-bg-color-hover: #ECEFF4;

  --a-liberapay-font-color: #2E3440;
  --a-liberapay-bg-color: #D08770;
  --a-liberapay-bg-color-hover: #EBCB8B;

  --a-patreon-bg-color: #BF616A;
  --a-patreon-bg-color-hover: #e13d47;

  --a-mastodon-follow-bg-color-hover: #e13d47;

  --a-rss-bg-color: #5E81AC;
  --a-rss-bg-color-hover: #81A1C1;

  /* about */
  --p-disclaimer-font-color: #EBCB8B;
  }