.lightbox {
  position: relative;
  border: 0;
  box-shadow: none;
  display: inline-block;
  text-decoration: none;
}

.lightbox-no-scroll {
  overflow-y: hidden;
}

/*遮罩层*/
.lightbox-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .8);
}

.lightbox-overlay *,
.lightbox-overlay *::before,
.lightbox-overlay *::after {
  box-sizing: inherit;
}

.lightbox-overlay[aria-hidden="true"] {
  display: none;
}

/*Slide*/
.lightbox-slider {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  white-space: nowrap;
  transition: left .5s ease, transform .5s ease;
  -webkit-transition: left .5s ease, -webkit-transform .5s ease;
  -moz-transition: left .5s ease, -moz-transform .5s ease;
  -ms-transition: left .5s ease, -ms-transform .5s ease;
}

/*Content*/
.lightbox-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-box-align: center;
  -ms-flex-align: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.lightbox-content figure {
  position: relative;
}

.lightbox-content img {
  display: block;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 85vh;
}

.lightbox-content figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .25em .5em;
  width: 100%;
  color: #f5f5f5;
  display: block;
  background: rgba(17, 17, 17, .8);
  font-size: .8em;
  font-weight: 100;
}

.lightbox-overlay button {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  background: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.lightbox-overlay button:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 255, .2);
}

.lightbox-overlay button:disabled {
  cursor: default;
  opacity: .5;
}

.lightbox-overlay button[aria-label="previous"],
.lightbox-overlay button[aria-label="next"] {
  top: 50%;
  top: calc(50% - (1.6em/2));
}

.lightbox-overlay button[aria-label="previous"] {
  left: 3%;
}

.lightbox-overlay button[aria-label="next"] {
  right: 3%;
}

.lightbox-overlay button[aria-label="close"] {
  top: 1em;
  right: 3%;
}

.lightbox-overlay button[aria-label="close"]:hover {
  background: rgba(255, 255, 255, .1);
  border-radius: .1em;
}

.lightbox-counter {
  position: absolute;
  left: 3%;
  top: 1.5em;
  font-size: 1em;
  font-weight: 100;
  color: rgba(255, 255, 255, .8);
  background: transparent;
  cursor: default;
  font-family: Helvetica;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.lightbox-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  height: 5em;
  width: 5em;
  margin-top: -2.5em;
  margin-left: -2.5em;
}

.lightbox-loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: .5em solid #9f9f9f;
  border-top-color: #2727a4;
  border-radius: 100%;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}