{{ partial "header.html" . }}


<main>
  
    <ul class="index-list">
      {{ $pages := .Site.RegularPages }}
      {{ $paginator := .Paginate ($pages) }}
      {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}

      <li class="index-item"><a href="{{ .RelPermalink }}">
        <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
        <h3>{{ .Title }}</h3></a>
        <!-- <div class="entry-content">
          <p>{{ .Summary }}</p>
        </div> -->
      </li>


      {{ end }}
    </ul>

    <div class="readmore"><a href="/blog/">查看全部文章</a></div>
    <!-- {{ partial "pagination.html" . }} -->

</main>
{{ partial "footer.html" . }}