body {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 1.8;
  color: #292827;
  font-family: latolatinweb, sans-serif "Kanit", Arial;
}

a {
  color: #292827;
  text-decoration: underline;
}

li::marker {
  color: #d1d5db;
}

table {
  width: 100%;
}

.headnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 12px;
}
.headnav .logo {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.headnav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.headnav ul a {
  text-decoration: none;
  padding: 0 5px;
  margin: 0 5px;
}
.headnav ul a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.container .aside-list {
  width: 110px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
}
.container .aside-list a {
  text-decoration: none;
}
.container .aside-list a.active {
  font-weight: bold;
  text-decoration: underline;
}
.container .posts-year {
  margin-top: 0;
  margin-bottom: 10px;
}
.container .posts {
  flex: 1;
  padding-left: 10px;
}

.posts-list {
  margin-bottom: 30px;
}

.posts-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.posts-item .date {
  white-space: nowrap;
  font-size: 14px;
  opacity: 0.4;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
.posts-item a {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #e1dcdc;
  transition: all 0.1s linear;
}
.posts-item a:hover {
  border-bottom: 1px solid #999;
}

.body-title {
  font-size: 24px;
  font-weight: bold;
}

.post-meta {
  font-size: 14px;
  color: #909090;
  padding: 20px 0;
}
.post-meta a {
  color: #909090;
}

.namenode {
  margin-left: 20px;
}

.tag-node {
  margin-left: 20px;
}
.tag-node a {
  margin-right: 5px;
}

.post-content img {
  border: 1px solid #eee;
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
}

.comments {
  padding: 40px 0;
}

.footer {
  border-top: 2px solid #e5e7eb;
  margin-top: 30px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .headnav {
    flex-direction: column;
    padding: 20px 0;
  }

  .container .aside-list {
    position: static;
    width: 100%;
    flex-direction: row;
  }
  .container .aside-list a {
    margin-right: 20px;
  }

  .container .posts {
    padding-left: 0;
  }

  .headnav .logo {
    font-size: 26px;
  }
}
.tags-list {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.tags-list li {
  margin-right: 10px;
}

.indexpost {
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e7eb;
}