<header class="header">

  <a class="logo" href="/">
    <img src="{{ .Site.Params.Logo }}">
    <span>子舒的博客</span>
  </a>
  <nav class="nav">
    {{ range .Site.Params.socials }}
    <a href="{{ .link }}">{{ .name }}</a>
    {{ end }}
    <a href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
        target="_blank">gallery</a>
  </nav>
  <div class="social">
    <a href="mailto:anghunk@gmail.com" target="_blank"></a>
    <a href="https://github.com/98zi" target="_blank"></a>
    <a href="https://twitter.com/zishu520" target="_blank"></a>
  </div>
</header>