<div class="aside">
  <div class="top">
    <a href="/"><img src="{{ .Site.Params.Logo }}" width="72" height="72" class="avatar" border="0"></a>
    <div class="site-info">
      <a href="/" class="site-title">{{ .Site.Params.Title }}</a>
      <div class="site-about">
        <p>{{ .Site.Params.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="nav-container">
    <div class="nav">
      {{ range .Site.Params.socials }}
      <a href="{{ .link }}" class="nav-item">{{ .name }}</a>
      {{ end }}
    </div>
    <div class="share">
      <a href="./index.xml" target="_blank"><img src="/images/rss.svg" alt="RSS" class="social-icon" width="1em"></a>
      <a href="https://github.com/dlzmoe" target="_blank"><img src="/images/github.svg" alt="github.com/dlzmoe" class="social-icon" width="1em"></a>
      <a href="https://discord.com/invite/n2pErsD7Kg" target="_blank"><img src="/images/discord.svg" alt="Discord Invite" class="social-icon" width="1em"></a>
    </div>
  </div>
</div>
