<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <div class="main">
      {{ partial "header.html" . }}

      <h1>{{ .Title }}</h1>

      <article class="content post-content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}

        <ul class="tags-list">
          {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a> </li>
          {{ end }}
        </ul>
      </article>

      {{ partial "footer.html" . }}
    </div>
  </div>
</body>

</html>