@charset "UTF-8";
@import url(../JetBrainsMono/fonts.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #374151;
  font-size: 16px;
  padding: 0 15px;
  line-height: 1.8;
  font-family: "JetBrains Mono", "微软雅黑", monospace;
}

a {
  color: #9ca3af;
  transition: all 0.1s linear;
}
a:hover {
  color: #1f2937;
}

.l-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 42rem;
}

.header {
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  line-height: 3rem;
}
.header .l-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .logo {
  color: #1f2937;
  text-decoration: none;
  font-weight: 600;
}
.header .nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.header .nav a {
  margin-left: 1rem;
  color: #9ca3af;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.1s linear;
}
.header .nav a:hover {
  color: #1f2937;
}

footer {
  font-size: 14px;
  color: #9ca3af;
  text-align: center;
  box-shadow: inset 0 1px 0 0 #eaeaea;
  padding: 20px 0;
}
footer a {
  color: #9ca3af;
  text-decoration: none;
}

section {
  padding: 20px 0;
}

.aboutme {
  font-size: 14px;
  color: #9ca3af;
}

.posts-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.1s linear;
  border-radius: 4px;
  text-decoration: none;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  height: 40px;
}
.posts-item:hover {
  background: #F3F4F6;
}
.posts-item .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #374151;
}
.posts-item .dashed {
  flex: 1;
  border: 1px dashed #e5e7eb;
  margin: 0 1rem;
}
.posts-item .date {
  color: #9ca3af;
  font-size: 14px;
  font-family: Menlo, Roboto Mono, Courier New, monospace;
  white-space: nowrap;
}

.h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-meta {
  color: #6b7280;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.post-meta .jj {
  color: #9ca3af;
  padding: 0 4px;
}
.post-meta a {
  color: #6b7280;
  text-decoration: none;
}
.post-meta a:hover {
  color: #1f2937;
  text-decoration: underline;
}
.post-meta .tag-node {
  flex: 1;
  text-align: right;
}
.post-meta .tag-node a {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .header .l-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .logo {
    font-size: 22px;
  }
  .header .nav a {
    margin: 0 1rem 0 0;
    font-size: 16px;
  }
}
.posts-year {
  color: #d1d5db;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.posts-list {
  margin-bottom: 30px;
}

.aside-list {
  margin-bottom: 30px;
}
.aside-list a {
  margin-right: 0.5rem;
  border: 1px solid #00000026;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #374151;
  border-radius: 5px;
  text-decoration: none;
  background: #FAFAFA;
}

.header-table {
  width: 100%;
  margin-bottom: 20px;
}
.header-table td,
.header-table th {
  padding: 4px 8px;
}
.header-table th {
  white-space: nowrap;
}
.header-table .h1 {
  font-size: 1.3rem;
}