
<nav class="menu">
	<ul class="menu__list">
		<!-- {{- $currentNode := . }}
		{{- range .Site.Menus.main }}
		{{- if .Name }}
		<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			<a class="menu__link" href="{{ .URL }}">
				{{ .Pre }}
				<span class="menu__text">{{ .Name }}</span>
				{{ .Post }}
			</a>
		</li>
		{{- end }}
		{{- end }} -->
		{{ range .Site.Params.socials }}
      <li class="menu__item"><a href="{{ .link }}" class="menu__link">{{ .name }}</a></li>
      {{ end }}
	</ul>
</nav>

<div class="divider"></div>