<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <main class="main">
    <div class="inner main_mark">
      <div class="header">
        <h1 class="header-title">{{ .Title }}</h1>
      </div>

      <article class="content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
        <ul id="xhs"></ul>
      </article>
      {{ partial "comment.html" . }}
    </div>
  </main>

  {{ partial "footer.html" . }}
</body>

</html>