<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body id="container">
  {{ partial "header.html" . }}

  <section id="body">
    <h1 id="body-title">{{ .Title }}</h1>
    <p class="header-des">List of articles written on this website in a timeline view.</p>

    {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
    <div id="body-in">
      <h3 id="{{ .Key }}">{{ .Key }}</h3>
      {{ range .Pages }}
      
      <div class="index-post" onclick="javascript:window.location.href='{{ .RelPermalink }}'">
        <div class="index-post-content-long">
          <a href="{{ .RelPermalink }}">
            <h2>{{ .Title }}</h2>
          </a>
          <div class="text">{{ .Summary }}</div>
          <div class="index-post-meta">
            <a href="{{ .RelPermalink }}"> # {{ .Date.Format "2006-01-02"}}</a>
            {{ with .Params.categories }}
            {{ range . }}
            <span class="namenode">{{ . }}</span>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>

      {{ end }}
    </div>
    {{ end }}
    {{ partial "footer.html" . }}
  </section>
</body>

</html>