<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <main>

    <div class="box">
      <div class="header">
        <h1 class="header-title">{{ .Title }}</h1>
      </div>

      <article class="post-content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </article>
    </div>

    <div class="box">
      {{ partial "comment.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </main>

</body>

</html>