<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    {{ partial "header.html" . }}
    <main id="content">
      <div class="home">

        <h1 class="blog-title">{{ .Title }}</h1>

        <article class="post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </article>
        
        {{ partial "comment.html" . }}

      </div>
      {{ partial "footer.html" . }}
    </main>
  </div>
</body>

</html>