<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <div class="home">
    <main>
      <h1>hey, I'm zishu 👋</h1>
      <article class="content markdown-body">
        <p></p>
        <p>
          // 更详细的信息请点击查看，
          <a href="/blog/">归档，</a>
          <a href="/categories/weekly/">周刊，</a>
          <a href="/message/">留言，</a>
          <a href="/about/">关于我。</a>
        </p>
        <p>
          同时将周刊一起发布到了本网站，督促自己多扩展眼界，获取更新的知识，不管是技术类型还是娱乐，让自己的容量不断 +1.
        </p>
        <p>
          前端程序员，独立博客作者，骑行爱好者，摄影爱好者，INFJ 人格。
        </p>
        <p>
          喜欢折腾技术，研究各种奇怪的程序和网站，做了一些开源的东西。
        </p>
        <p>
          已经有 <span id="busuanzi_value_site_pv">...</span> 位小伙伴逛过本站。
        </p>
      </article>
    </main>

  </div>

  <script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</body>

</html>