* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background: #eee;
}

@font-face {
  font-family: "SimplonNorm";
  font-display: swap;
  src: url(../fonts/SimplonNorm-Regular-WebXL.woff2);
}
body {
  max-width: 768px;
  margin: 4em auto;
  font-size: 16px;
  line-height: 1.8;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "PingFang SC", "Microsoft YaHei", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
}

video {
  max-width: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #e5e7eb;
}
header .logo {
  font-size: 1.6rem;
  font-weight: 500;
}
header nav {
  margin-top: 15px;
}
header nav a {
  margin: 0 5px;
  color: #999;
}
header nav a:hover {
  color: #333;
}

main {
  padding: 20px 2.5rem;
}

.blog-posts {
  list-style: none;
}
.blog-posts li {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 6px 0;
}
.blog-posts li .entry-content {
  font-size: 15px;
  color: #666;
  word-break: break-all;
}
.blog-posts li time {
  font-size: 15px;
  color: #999;
}
.blog-posts li a {
  flex: 1;
  transition: all 0.1s linear;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: underline;
}
.blog-posts li a:hover {
  color: #333;
}

.home-posts li {
  margin-bottom: 1em;
}
.home-posts li a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.header-title {
  font-size: 1.5rem;
}

.post-meta {
  color: #999;
  padding-bottom: 15px;
}

.post-content {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  line-height: 2;
}
.post-content ul,
.post-content ol {
  padding-left: 30px;
}

#TableOfContents ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

#TableOfContents > ul {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 20px;
}

.aboutme {
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}
.aboutme .container {
  padding: 30px 2.5rem;
  display: flex;
  align-items: center;
}
.aboutme .container .img {
  width: 100px;
}
.aboutme .container .img img {
  border-radius: 50%;
  border: 1px solid #eee;
}
.aboutme .container .info {
  flex: 1;
}
.aboutme .container .info .rss {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9c9c9;
  padding: 2px 18px;
  color: #666;
  font-size: 14px;
  transition: all 0.1s linear;
}
.aboutme .container .info .rss:hover {
  border-color: #999;
  color: #000;
}

.readmore {
  margin-top: 30px;
}
.readmore a {
  text-decoration: underline;
  color: #555;
}

footer {
  padding: 20px 2.5rem 40px;
  color: #666;
  font-size: 15px;
}
footer div {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.nolist ul,
.nolist li,
.nolist li {
  padding: 0;
  list-style: none;
}

.post-tag {
  margin-top: 20px;
}
.post-tag a {
  background: #eee;
  padding: 4px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  body {
    margin: 20px 10px;
  }

  .aboutme .container {
    padding: 20px 20px;
  }

  main {
    padding: 20px 20px;
  }

  footer {
    padding: 20px 20px 40px;
  }
}