.tk-action {
  .tk-action-link:nth-child(1) {
    display: none;
  }
}
.tk-action-icon svg,
.tk-action-count {
  color: #666;
}
.tk-action-count {
  width: 20px;
}
.tk-comments {
  font-size: 16px;
}
.tk-comments-container {
  & > .tk-comment {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
  }
}

.dark .tk-comments-container > .tk-comment {
  background: #414141;
}

.tk-comments-title {
  font-weight: 400 !important;
}

.tk-meta-input {
  display: none;
}

.tk-tag-status {
  width: 40px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  padding: 4px 0;
  line-height: 1;
  border: 1px solid #e9e9eb;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: #f4f4f5;
  color: #909399;
  margin-top: 5px;
  position: absolute;
  top: 40px;
}

.tk-meta-input {
  justify-content: space-between;

  .el-input {
    margin: 0 !important;
    width: 49%;
    flex: none;
  }

  .el-input:nth-child(3) {
    display: none;
  }
}

.OwO .OwO-body .OwO-items {
  padding: 10px 2px;
}
