.dark .tk-comments-container > .tk-comment {
  background: #414141;
}
.tk-comments {
  font-size: 16px;
}
.tk-action {
  .tk-action-link:nth-child(1) {
    display: none;
  }
}
.twikoo svg {
  color: #159f95;
}
.twikoo svg,
.tk-action-count {
  color: #666;
}
.tk-action-count {
  width: 20px;
}

.tk-comments-container {
  & > .tk-comment {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
  }
}



.tk-comments-title {
  font-weight: 400 !important;
}

.tk-tag-status {
  width: 40px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  padding: 4px 0;
  line-height: 1;
  border: 1px solid #e9e9eb;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: #f4f4f5;
  color: #909399;
  margin-top: 5px;
  position: absolute;
  top: 40px;
}

.tk-meta-input {
  display: flex;
  justify-content: space-between;

  .el-input {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 49%;
    flex: none;
  }

  .el-input:nth-child(3) {
    display: none;
  }
}

.OwO .OwO-body .OwO-items {
  padding: 10px 2px;
}
.el-button {
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
}

.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover,
.twikoo .el-button--primary.is-disabled,
.twikoo .el-button--primary.is-disabled:active,
.twikoo .el-button--primary.is-disabled:focus,
.twikoo .el-button--primary.is-disabled:hover {
  color: #159f95;
  border-color: rgb(185, 226, 223);
  background-color: rgb(232, 245, 244);
}

.el-button--primary {
  color: #fff;
  background-color: #159f95;
  border-color: #159f95;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
  border-color: #159f95;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: rgb(68, 178, 170);
  border-color: rgb(68, 178, 170);
  color: #fff;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: rgb(68, 178, 170);
  border-color: rgb(68, 178, 170);
  color: #fff;
}

.tk-nick-link:hover {
  color: #159f95;
}

.tk-content p a {
  color: #1967d2;
}

@media(max-width:767px) {
  .tk-meta-input .el-input {
    width: 100%;
  }
}