.tk-action {
  .tk-action-link:nth-child(1) {
    display: none;
  }
}
.tk-action-count {
  width: 20px;
}

.tk-comments-container {
  & > .tk-comment {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
  }
}

.tk-comments-title {
  font-weight: 400 !important;
}
