* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #EEEEEE;
  overflow-y: scroll;
}

@font-face {
  font-family: "SimplonNorm-Regular-WebXL";
  src: url(../fonts/SimplonNorm-Regular-WebXL.woff2);
}
body {
  font-family: "SimplonNorm-Regular-WebXL";
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #333;
  line-height: 2;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
}

img,
video,
iframe {
  max-width: 100%;
  vertical-align: bottom;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 500;
}
h2 + *,
h3 + *,
h4 + * {
  margin-top: 0 !important;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  word-break: break-all;
}

.box {
  background: #fff;
  box-shadow: 0 2px 2px #0000001f, 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px rgba(0, 0, 0, 0.12), 0 -1px 0.5px rgba(0, 0, 0, 0.09);
  padding: 25px 4%;
  margin-bottom: 20px;
  position: relative;
}

.aside {
  width: 250px;
  margin-right: 20px;
  position: sticky;
  top: 30px;
}
.aside .one {
  padding: 0;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.1rem;
  background: #000000;
  color: #fff;
  padding: 20px 0 15px;
}
.logo img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  box-shadow: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: all 0.1s linear;
}
.logo:hover img {
  transform: scale(1.05);
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.nav a {
  padding: 4px 20px 4px 50px;
  text-decoration: none;
  width: 100%;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  font-size: 15px;
  position: relative;
}
.nav a svg {
  width: 18px;
  margin-right: 10px;
  transition: all 0.1s linear;
  position: absolute;
  left: 20px;
}
.nav a.active, .nav a:hover {
  background: #f3f3f3;
}
.nav a.active svg, .nav a:hover svg {
  width: 20px;
}

main {
  flex: 1;
  max-width: 100%;
  width: calc(100% - 270px);
}

.index-list article {
  margin-bottom: 40px;
}
.index-list article:hover a::after {
  width: 100%;
}
.index-list h2 {
  margin-top: 0;
}
.index-list h2 a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}
.index-list h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s linear;
  background: #333;
}
.index-list .summary {
  opacity: 0.8;
}
.index-list .meta {
  padding-bottom: 5px;
  opacity: 0.9;
}
.footer {
  padding-top: 30px;
}

.fixed {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 99;
}
.fixed .menutoc {
  display: none;
}
.fixed a {
  margin-top: 10px;
  background: #00000052;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.fixed a:hover {
  opacity: 0.9;
}
.fixed a svg {
  color: #fff;
}

.toc a {
  text-decoration: none;
  width: 100%;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.toc a:hover {
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid #eee;
}
.header .header-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 10px 0 0;
}

.post-content > *:nth-child(1) {
  margin-top: 20px;
}
.post-content blockquote {
  border-left: 4px solid #333;
  background: #eee;
  padding: 4px 10px;
}
.post-content blockquote p {
  margin: 0;
}
.post-content img {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
}
.post-content p {
  margin-top: 10px;
}

.break a {
  text-decoration: none;
}
.break a:hover {
  text-decoration: underline;
}

.archive-year {
  margin-bottom: 20px;
}
.archive-year ul li {
  display: flex;
  padding: 3px 0;
}
.archive-year ul li time {
  width: 100px;
}
.archive-year ul li a {
  text-decoration: none;
}
.archive-year ul li a:hover {
  text-decoration: underline;
}

.menu {
  display: none;
}

@media (max-width: 1050px) {
  body {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 950px) {
  body {
    flex-direction: column;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 20px;
  }

  .aside {
    position: static;
    width: 100%;
  }
  .aside .one {
    padding-bottom: 0;
  }
  .aside .nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 2px 2px #0000001f, 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px rgba(0, 0, 0, 0.12), 0 -1px 0.5px rgba(0, 0, 0, 0.09);
    margin-top: 0;
    display: none;
  }
  .aside .toc {
    display: none;
    box-shadow: 0 2px 2px #0000001f, 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px rgba(0, 0, 0, 0.12), 0 -1px 0.5px rgba(0, 0, 0, 0.09);
    position: fixed;
    bottom: 40px;
    z-index: 1;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 115px;
  }

  main {
    width: 100%;
  }

  .fixed .menutoc {
    display: flex;
  }
}