a,
blockquote,
body,
button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
html,
input,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3273dc;
  text-decoration: none;
}

a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  font-size: 20px;
}

body {
  background: #fff;
  font-family: system-ui, sans-serif;
  color: #020617;
}

body .underline {
  text-decoration-color: #3273dc;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 6px;
}

#container {
  width: 100%;
  max-width: 666px;
  margin: 0 auto;
}

#head {
  margin: 5rem 0 7rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
}

#head a {
  color: #888;
}

#head a:hover {
  color: #555;
}

#head #logo {
  display: none;
}

#head #site-title {
  display: block;
  float: left;
  background-color: #000;
}

#head #site-title a {
  color: #fff;
  font-weight: normal;
  padding: 0 10px;
  display: inline-flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#head #site-title h1 {
  font-size: 1rem;
}

#head #menu {
  display: block;
  float: right;
}

#head #menu li {
  list-style: none;
  display: inline-block;
}

#head #menu li a {
  margin: 0 0.5rem;
  color: #888;
}

#head #menu li a:hover,
#head #menu li a.current {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  color: #555;
}

#body {
  margin: 0;
}

#body #body-title {
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 1.8rem;
  color: #222;
}

#description p {
  margin-bottom: 2rem;
  line-height: 1.8rem;
  color: #333;
}

#description .experience-list {
  margin-bottom: 3rem;
}

#description .experience-node {
  display: grid;
  padding: 1rem;
  color: #777;
  font-size: 0.95rem;
  grid-template-columns: 1fr 1fr 2fr;
}

#description .experience-node:nth-child(odd) {
  background: #f8f8f8;
}

.index-post {
  margin-bottom: 2.2rem;
  cursor: pointer;
  background-color: #fff;
  padding: 1.1rem;
  border-radius: 5px;
  box-shadow: -1px 6px 14px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear;
}
.index-post:hover {
  box-shadow: -1px 6px 6px 0px rgba(0, 0, 0, 0.1);
}

.index-post img {
  margin: 0;
  width: 100%;
  height: auto;
}

.index-post-content-talk .text {
  display: inline-block;
  line-height: 1.6rem;
  color: #333;
}

.index-post-content-img .text {
  padding-top: 1rem;
  line-height: 1.6rem;
  color: #333;
}

.index-post-content-long .text {
  display: inline-block;
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.96rem;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.index-post-content-long h2 {
  color: #333;
  font-size: 1.3rem;
}

.index-post-meta {
  margin-top: 0.5rem;
  color: #bbb;
  font-size: 13px;
  height: 1.6rem;
  line-height: 1.6rem;
  overflow: hidden;
}
.index-post-meta .tag-node {
  margin-left: 15px;
}

.index-post-meta a {
  margin-right: 5px;
  color: #aaa;
}

.index-post-meta a:hover {
  color: #3273dc;
}

.inner-long,
.inner-talk {
  line-height: 2rem;
}

.inner-long img,
.inner-long p,
.inner-long ul,
.inner-long ol,
.inner-long blockquote,
.inner-long pre,
.inner-long hr {
  margin-bottom: 1.5rem;
}

.inner-long h2 {
  color: #333;
  margin: 3rem 0 1rem;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #eee;
}

.inner-long h3 {
  margin: 3rem 0 1rem;
  font-size: 1.2rem;
}

.inner-long h2 a,
.inner-long h3 a {
  color: inherit;
  margin-right: 2px;
  padding: 0 5px;
}

.inner-long li p,
.inner-long li ul,
.inner-long li ol {
  margin-bottom: 0;
}

.inner-long img {
  box-sizing: border-box;
  vertical-align: top;
  border: 1px solid #eee;
}

.inner-long ul {
  padding-left: 1.5rem;
}

.inner-long ol {
  padding-left: 2rem;
}

.inner-long blockquote {
  padding: 1.5rem;
  background: #f8f8f8;
  color: #777;
  font-size: 0.95rem;
}

.inner-long blockquote :last-child {
  margin-bottom: 0;
}

.inner-long hr {
  border: 1px dotted #eee;
  height: 0px;
}

.page-navigator {
  margin: 3rem 1rem;
  line-height: 3rem;
  text-align: center;
}

.page-navigator li {
  display: inline-block;
  height: 2rem;
}

.page-navigator li a {
  display: block;
  padding: 0 1rem;
  height: 2rem;
  color: #666;
  line-height: 2rem;
}

.page-navigator .current a,
.page-navigator li a:hover {
  background: #f8f8f8;
  color: #3273dc;
}

#foot {
  margin: 15rem 0 10rem;
  text-align: center;
  color: #bbb;
  font-size: 12px;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  #description .experience-node {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 700px) {
  #description .experience-node {
    font-size: 11.5px;
  }

  #body-in {
    padding: 0.3rem !important;
  }

  #head {
    margin: 3rem 0 3rem;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  #head #site-title {
    display: none;
  }

  #head #menu {
    display: block;
    text-align: center;
    float: none;
    margin: 3rem 0 3rem;
    font-size: 1.1rem;
  }

  #body {
    padding: 0 10px;
  }

  #body #body-title {
    margin-bottom: 3rem;
  }

  #head #menu li a.current,
#head #menu li a:hover {
    padding-bottom: 5px;
    border: none;
    color: #3273dc;
  }

  #head #logo {
    display: block;
    text-align: center;
  }

  #head #logo img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid #ddd;
  }

  .inner-long blockquote {
    padding: 1.5rem 1rem;
  }
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

.meta {
  margin-bottom: 20px;
}

.inner-post-content a:hover {
  text-decoration: underline;
}

.inner-post-content code {
  background: #eee;
  border-radius: 4px;
  padding: 4px;
  font-size: 90%;
}

.posts-year {
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .toc {
    position: sticky;
    top: 120px;
    width: 400px;
    margin-left: 100%;
    height: 0;
  }
  .toc #TableOfContents > ul {
    background: none;
  }
  .toc #TableOfContents {
    opacity: 0.4;
    transition: all 0.2s linear;
  }
  .toc #TableOfContents li ul {
    padding-left: 15px;
  }
  .toc #TableOfContents:hover {
    opacity: 1;
  }
  .toc #TableOfContents a {
    color: #999;
  }
}