<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <section>
    <div class="body-title">{{ .Title }}</div>

    <div class="container">
      <div class="aside-list">
        <a href="/blog/">全部</a>
        <a href="/categories/技术/">技术</a>
        <a href="/categories/随笔/">随笔</a>
        <a href="/categories/weekly/">周刊</a>
      </div>

      <div class="posts">
        {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
        <div>
          <h3 class="posts-year" id="{{ .Key }}">{{ .Key }}</h3>
          {{ range .Pages }}
          <div class="posts-item">
            <span class="date">{{ .Date.Format "2006-01-02"}}</span>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>

    </div>
    {{ partial "footer.html" . }}
  </section>
</body>

</html>