:root {
  --background-color: #fff;
  --foreground-color: #000;
  --link-color: #336bad;
  --foreground-secondary-color: #666;

  --nav-current-background-color: #0f0f0f;
  --nav-current-foreground-color: #fff;
  --nav-item-background-color: #f2f2f2;
  --nav-item-foreground-color: #0f0f0f;
  --nav-item-hover-background-color: #e5e5e5;

  --icon-secondary-filter: invert(43%) sepia(22%) saturate(10%) hue-rotate(58deg) brightness(87%) contrast(93%);
  --icon-social-filter: invert(28%) sepia(47%) saturate(2131%) hue-rotate(197deg) brightness(95%) contrast(78%);
  --border-color: #e2e2e2;
  --chevron-color: #333;
  --site-title-font-size: 2em;
  --h1-font-size: 1.8em;
  --item-gap: 30px;
  --inner-gap: 20px;
  --title-line-height: 1.2;
  --content-max-width: 100%;
  --breadcrumb-background-color: rgba(255, 255, 255, 0.8);
  --breadcrumb-border-color: rgba(255, 255, 255, 0.7);
  --monospace: "Lucida Console", Consolas, "Courier", monospace;
  --code-background-color: #f8f8f8;
  --kbd-color: #444444;
  --kbd-text-shadow: #fff;
  --kbd-border-color: #bbb;
  --kbd-background-color: #f7f7f7;
  --kbd-background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  --kbd-background-repeat: repeat-x;
  --kbd-box-shadow: 0px 1px 0 #bbbbbb, 0 2px 1px #999999, 0 2px 0 #bbbbbb, inset 0 1px 1px #ffffff, inset 0 -1px 2px #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1e;
    --foreground-color: #fff;
    --link-color: #6699ff;
    --foreground-secondary-color: #adadaf;

    --nav-current-background-color: #0f0f0f;
    --nav-current-foreground-color: #f1f1f1;
    --nav-item-background-color: #272727;
    --nav-item-foreground-color: #f1f1f1;
    --nav-item-hover-background-color: #3f3f3f;

    --icon-secondary-filter: invert(87%) sepia(6%) saturate(58%) hue-rotate(202deg) brightness(80%) contrast(87%);
    --icon-social-filter: invert(64%) sepia(85%) saturate(4030%) hue-rotate(203deg) brightness(108%) contrast(102%);
    --border-color: #2b2b2d;
    --chevron-color: #eee;
    --breadcrumb-background-color: rgba(32, 32, 34, 0.8);
    --breadcrumb-border-color: rgba(32, 32, 34, 0.7);
    --code-background-color: #2b2b2d;
    --kbd-color: #eeeeee;
    --kbd-text-shadow: #000000;
    --kbd-border-color: #000;
    --kbd-background-color: #4d4c4c;
    --kbd-background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
    --kbd-background-repeat: no-repeat;
    --kbd-box-shadow: 0px 1px 0 #000000, 0 2px 1px rgba(90, 90, 90, 0.5), inset 0 1px 1px #aaaaaa, inset 0 -1px 2px #272727;
  }
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a:link,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
  line-break: anywhere;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: .2rem;
}

code {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
}

code {
  background-color: var(--code-background-color);
  padding: 0 2px 0 2px;
  border-radius: 3px;
}

code,
pre,
samp,
tt {
  font-family: var(--monospace);
}

pre {
  border: 1px solid var(--border-color);
  background-color: var(--code-background-color);
  border-radius: 3px;
  padding: 10px;
  font-size: 0.9em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02),
    0 8px 16px rgba(0, 0, 0, 0.02);
}

pre {
  display: block;
  break-inside: avoid;
  text-align: left;
}

h1 {
  color: var(--foreground-color);
  font-size: var(--h1-font-size);
  margin: 0 0 20px 0;
  line-height: var(--title-line-height);
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.chevron {
  font-size: 1.1em;
  color: var(--chevron-color);
  font-family: "Lucida Grande";
  font-weight: 500;
}

.content img {
  display: block;
  margin: 40px auto 40px auto;
  max-width: 100%;
}

hr {
  border: none;
  height: 2px;
  color: var(--border-color);
  background-color: var(--border-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.meta {
  border-bottom: 5px double #999;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .date {
    margin: 0 20px 0 0;
    color: var(--foreground-secondary-color);
  }
}



.breadcrumb {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--breadcrumb-background-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--breadcrumb-border-color);
  box-sizing: border-box;
  z-index: 99;
}

.breadcrumb-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: calc(700px - env(safe-area-inset-left) - env(safe-area-inset-left));
  margin-left: auto;
  margin-right: auto;
}

.chevron {
  display: inline-block;
  margin: 0 8px;
  color: var(--chevron-color);
  font-family: "Lucida Grande";
  font-weight: 500;
}

.breadcrumb-inner>a {
  line-break: auto;
}

.breadcrumb-avatar {
  margin-right: 8px;
  display: flex;
}

.breadcrumb-avatar-image {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  vertical-align: bottom;
  display: block;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  background: #eee;
  padding: 40px 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.main {
  max-width: 700px;
  margin-left: calc(300px + 6%);
  margin-top: 40px;
  padding: 20px;
  color: var(--foreground-color);
}

.content {
  margin: 20px 0;
  line-height: 1.8rem;
  font-size: 1em;
  color: var(--foreground-color);
}

/* START: table */

.content table {
  table-layout: auto;
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02),
    0 8px 16px rgba(0, 0, 0, 0.02);
}

.content table tr {
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.content table tr:nth-child(2n) {
  background-color: var(--code-background-color);
}

.content table tr th {
  font-weight: bold;
  border: 1px solid var(--border-color);
  margin: 0;
  padding: 6px 12px;
  background-color: var(--code-background-color);
}

.content table tr td {
  border: 1px solid var(--border-color);
  margin: 0;
  padding: 6px 12px;
}

.content table tr th :first-child,
.content table tr td :first-child {
  margin-top: 0;
}

.content table tr th :last-child,
.content table tr td :last-child {
  margin-bottom: 0;
}

/* END: table */

.site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--inner-gap);
  font-size: 1em;
  line-height: var(--title-line-height);
  color: var(--foreground-color);
}

.site-title {
  font-size: 1.6rem;
  line-height: var(--title-line-height);
  color: var(--foreground-color) !important;
}

.site-about {
  font-size: 16px;
  line-height: var(--title-line-height);
  color: var(--foreground-color);
}

.items {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: var(--item-gap);
  align-items: top;
}

.item-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-hero-image {}

.item-hero-image img {
  max-height: 60px;
  border-radius: 2px;
  aspect-ratio: 3/2;
  object-fit: cover;
  image-rendering: optimizeQuality;
  border: 0px;
}

.item-title {
  font-size: 1.25em;
  font-weight: 500;
  line-height: var(--title-line-height);
  text-align: left;
}

.item-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-date {
  font-size: 0.8em;
  color: var(--foreground-secondary-color);
  text-align: left;
  display: inline-block;
}

.item-video-icon,
.item-audio-icon {
  width: 1em;
  height: 1em;
  filter: var(--icon-secondary-filter);
}

.social-icon {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
  filter: var(--icon-social-filter);
}

kbd {
  font-size: 12px;
  color: var(--kbd-color);
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1em;
  text-shadow: 0 1px 0 var(--kbd-text-shadow);
  display: inline;
  padding: .3em .55em;
  border-radius: 6px;
  background-clip: padding-box;
  border: 1px solid var(--kbd-border-color);
  background-color: var(--kbd-background-color);
  background-image: var(--kbd-background-image);
  background-repeat: var(--kbd-background-repeat);
  box-shadow: var(--kbd-box-shadow);
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  z-index: 1;
}

.audio-container {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
}

.audio {
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
  padding: 10px;
}

.pages-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pages-info {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  color: var(--foreground-secondary-color);
  font-weight: 500;
  font-size: 12px;
}

.nav-container {
  text-align: left;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;

  .share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    a {
      margin: 0 6px;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin-top: 30px;
}

.nav-current:link,
.nav-current:visited {
  background-color: var(--nav-current-background-color);
  color: var(--nav-current-foreground-color);
  border-radius: 2em;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  transition: background-color 0.15s;
}

.nav-current:hover {
  text-decoration: none;
  background-color: var(--nav-current-background-color);
}

.nav-item:link,
.nav-item:visited {
  width: 100%;
  text-align: center;
  color: var(--nav-item-foreground-color);
  border-radius: 2em;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 5px;
  transition: background-color 0.15s;
}

.nav-item:hover {
  background-color: var(--nav-item-hover-background-color);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.date,
ul,
ol,
pre,
hr {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-inline-start: 1em;
}

ol {
  padding-inline-start: 1.25em;
}

.site-about p {
  margin: 0;
  color: #666;
}

/* START: To Do Items */

ul:has(input[type="checkbox"]) {
  padding-inline-start: 0px;
}

li input[type="checkbox"] {
  display: none;
}

li:has(input[type="checkbox"]) {
  list-style-type: none;
  margin-left: 0px;
  pointer-events: none;
}

li:has(input[type="checkbox"]:not(:checked):disabled)::before {
  background-image: url("./circle.svg");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 1.25em;
  height: 1em;
  background-size: 1em 1em;
  filter: var(--icon-social-filter);
  pointer-events: all;
}

li:has(input[type="checkbox"]:checked:disabled)::before {
  background-image: url("./checkmark.circle.fill.svg");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 1.25em;
  height: 1em;
  background-size: 1em 1em;
  pointer-events: all;
}

/* END: To Do Items */

figure {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

figure>img:first-child {
  margin: 40px 0px 20px 0px;
}

figcaption {
  font-size: 0.8em;
  color: var(--foreground-secondary-color);
  text-align: center;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

blockquote {
  font-style: italic;
  border-left: 5px solid;
  margin-left: 2em;
  padding-left: 1em;
  border-color: var(--border-color);
  color: var(--foreground-secondary-color);
}

/* START: tag */

.tag-container {
  margin: 0px auto 40px auto;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.tag-caption {
  font-size: 0.8em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.tag-title {
  font-size: 2em;
  font-weight: 500;
}

.tag-count {
  font-size: 0.8em;
  color: var(--foreground-secondary-color);
}

.tags-container {
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  color: var(--foreground-secondary-color);
  align-items: center;
}

.tags {
  flex: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.tag-cloud {
  column-count: 3;
  column-rule: 1px solid var(--border-color);
  column-gap: 20px;
  line-height: 2;
}

.tag-cloud-item {
  display: block;
  font-size: 1em;
}

.tag-cloud-item-count {
  display: inline-block;
  background-color: var(--border-color);
  font-size: 0.75em;
  color: var(--background-color);
  padding: 1px 4px 1px 4px;
  border-radius: 20px;
  line-height: 1;
  vertical-align: middle;
  margin-left: 0.5em;
}

.tag-item {
  display: inline-block;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.tag-item:hover {
  text-decoration: none;
  border-color: var(--link-color);
  box-shadow: 0px 1px 2px var(--border-color);
}

/* END: tag */

/* START: archive */

.archive-container {
  margin: 0px auto 40px auto;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.archive-title {
  font-size: 2em;
  font-weight: 500;
}

.archive-count {
  color: var(--foreground-secondary-color);
  margin-bottom: 20px;
}

.archive-list {
  margin-top: 20px;
}

.archive-list-item {
  display: block;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 10px;
}

.archive-list-header {
  display: block;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--foreground-secondary-color);
}

.archive-list-header:first-child {
  margin-top: 0px;
}

.archive-list-item a {
  line-break: initial;
}

/* END: archive */

footer {
  font-size: 0.9em;
  color: var(--foreground-secondary-color);
  width: 100%;
  margin-top: 2em;
  line-height: 1.75rem;
}

.footer-inner {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  :root {
    --item-gap: 15px;
    --inner-gap: 10px;
    --site-title-font-size: 2em;
    --h1-font-size: 1.75em;
  }

  .breadcrumb-inner {
    padding: 0px 20px 0px 20px;
  }

  .tag-cloud,
  .archive-list {
    column-count: 2;
  }
}

@media screen and (max-width: 420px) {
  .archive-list {
    column-count: 1;
  }

  .content table {
    table-layout: fixed;
  }

  .content table td {
    line-break: anywhere;
  }
}

// ---
.aboutme {
  margin-bottom: 30px;
  border-bottom: 5px double #999;
  padding-bottom: 10px;
}

h1 {
  font-weight: 500;
}

@media(max-width:900px) {
  .aside {
    position: static;
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
  }

  .main {
    margin: 0;
  }
}