<aside class="aside">
  <div class="about">
    <h3 class="v-section-tit">About Me</h3>
    <article class="violet-about-det">
      <p>一个独立博客作者，喜欢折腾一些技术，研究各种奇怪的程序和网站，做了一些开源的东西。这是我在闲暇之余写的博客，欢迎访问。</p>
      <p></p> 
      <p><a href="/riding/">骑行记录</a></p>
      <p>参与我的社区交流：<a href="https://discord.gg/dfG9Tvje9b" target="_blank">Discord</a></p>
    </article>
    <p class="v-more-right">
      <a href="/about/"><span>➥</span>More</a>
    </p>
  </div>

  <!-- 链接 -->
  <div class="friendly">
    <h4 class="v-section-tit">Follow Me</h4>
    <article class="attent-det">
      <ul>
        <li>Github: <a href="https://github.com/zishume" target="_blank"><span>https://github.com/zishume</span></a></li>
        <li>E-mail: <a href="mailto:me@zsh.im">me@zsh.im</a></li>
      </ul>
    </article>
  </div>
  
  <!-- 目录 -->
  {{ if in .Site.Params.mainSections .Type }}
  {{ .TableOfContents }}
  {{ end }}

</aside>