<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="bg-gray-50 font-zhcn">
  <header class="max-w-4xl mx-auto p-4">
    <section class="flex justify-between">
      <div> <a href="/" class="logo">子舒的博客</a></div>
      <div>
        <ul class="flex">
          {{ range .Site.Params.socials }}
          <li class="mx-4">
            <a href="{{ .link }}" title="{{ .name }}">{{ .name }}</a>
          </li>
          {{ end }}
          <li class="mx-4"><a
              href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
              target="_blank">画廊</a></li>
        </ul>
      </div>
      <div><i class="fas fa-bars" aria-hidden="true"></i></div>
    </section>
  </header>

  <section class="max-w-4xl mx-auto p-4 mt-24">
    <header class="pb-6 border-b border-gray-200">
    <h3 class="font-bold text-3xl mb-2">一些笔记，一点生活</h3>
    <p class="text-gray-600">最怕一生碌碌无为，还说平凡难能可贵。最好的输入，是输出；最佳的成长，是分享。</p>
    </header>
</section>