<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div id="container">
    <header>
      <h1>
        <a href="/">{{ .Site.Title }}</a>
      </h1>
      <ul id="social-media">
      </ul>
    </header>
    <nav>
      <ul>
        {{ range .Site.Params.socials }}
        <li>
          <a href="{{ .link }}"><span>{{ .name }}</span></a>
        </li>
        {{ end }}
        <li><a href="/index.xml" target="_blank">RSS</a></li>
        <li><a href="/search"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
              width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
              <path d="M21 21l-6 -6"></path>
            </svg></a></li>
      </ul>
    </nav>

    <main>