<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <header>
    <div class="content">
      <a class="logo" href="/">zishu.me</a>
      <nav>
        <em></em>
        <ul>
          <li><a title="首页" href="/">首页</a></li>
          {{ range .Site.Params.socials }}
          <li>
            <a title="{{ .name }}" href="{{ .link }}">{{ .name }}</a>
          </li>
          {{ end }}
          <li><a href="/search/">Search</a></li>
          <li><a href="/index.xml" target="_blank">RSS</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">
    <div class="content">