{{ partial "header.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<main class="main">
  <article class="first-entry home-info">
    <header class="entry-header">
      <h1>Hi, I’m <a href="/about/">zishu</a>
        <a href="/index.xml" title="RSS" aria-label="RSS"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            height="23">
            <path d="M4 11a9 9 0 019 9"></path>
            <path d="M4 4a16 16 0 0116 16"></path>
            <circle cx="5" cy="19" r="1"></circle>
          </svg></a>
      </h1>
    </header>
    <div class="entry-content">
      <div>欢迎来到我的个人网站，记录了一些个人心得和笔记。已经写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</div>
    </div>
  </article>

  <ul class="blog-posts">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
    {{ $title := .Title }}
    {{ $summary := .Summary }}
    <article class="post-entry">
      <header class="entry-header">
        <h2>{{ .Title }}</h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary }}</p>
      </div>
      <footer class="entry-footer">{{ .Date.Format "2006.01.02"}}</footer>
      <a class="entry-link" href="{{ .RelPermalink }}"></a>
    </article>


    {{ end }}
  </ul>

  <div class="readmore"><a href="/blog/">查看全部文章</a></div>
  <!-- {{ partial "pagination.html" . }} -->

</main>
{{ partial "footer.html" . }}