<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="list">
  {{ partial "header.html" . }}

  <main class="main">

    {{ $articleCount := len .Site.RegularPages }}
    {{ $totalWordCount := 0 }}
    {{ range .Site.Pages }}
    {{ $totalWordCount = add $totalWordCount .WordCount }}
    {{ end }}

    <article class="first-entry home-info">
      <header class="entry-header">
        <h1>[~]$ hey, I'm zishu 👋</h1>
      </header>
      <div class="entry-content">
        <p>
          欢迎来到我的博客，已经有 <span id="busuanzi_value_site_pv">...</span> 位小伙伴逛过本站，写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。
        </p>
        <p>查看 <a href="/blog/">文章归档</a>，<a href="/subscribe/">订阅周刊</a>。</p>
      </div>
    </article>

    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ $count := 0 }}

    {{ range $paginator.Pages }}
    {{ $title := .Title }}
    {{ $summary := .Summary }}

    {{ if and (not (in .Params.categories "weekly")) (lt $count 7) }}
    {{ $count = add $count 1 }}

    <article class="post-entry">
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .Title }}</h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary }}</p>
      </div>
      <footer class="entry-footer">
        <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
        <span class="category">
          {{ range $key, $value := .Params.categories -}}
          {{- if $key }}, {{ end }}
          {{ . }}
          {{- end }}
        </span>
      </footer>
      <a class="entry-link" href="{{ .RelPermalink }}"></a>
    </article>
    {{ end }}

    {{ end }}


    {{ partial "pagination.html" . }}
  </main>

  {{ partial "footer.html" . }}
</body>

</html>