:root {
  --box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

html {
  background: #1a1a1a;
}

body {
  // width: 100%;
  box-sizing: border-box;
  line-height: 1.8;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 16px;
  color: #000;
  margin: 21px;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
}

.body {
  max-width: 646px;
  margin: 2em auto;
  border-radius: 6px;
}

header {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px dashed #999;

  .logo {
    display: inline-block;
    font-size: 1.5rem;
    height: 100%;
    text-decoration: none !important;
    white-space: nowrap;
    position: relative;
    border: 2px solid #000;
    padding: 2px 6px;
    margin: 20px 0;
  }

  .nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s linear;
      margin-bottom: 10px;
      margin-right: 20px;
      text-decoration: none;
      white-space: nowrap;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .icon {
      display: flex;

      a {
        margin-left: 10px;
        color: #333;
      }
    }
  }
}

a {
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}

.subscribe {
  text-align: center;
  font-size: 16px;
}

.postlist {
  margin-top: 20px;
}

.postitem {
  display: flex;
  align-items: flex-start;
  transition: all 0.1s linear;
  text-decoration: none;
  margin-bottom: 3em;
  font-size: 1.1em;

  &:hover {
    text-decoration: none;
  }

  time {
    color: #747474;
    width: 100px;
    margin-right: 20px;
    line-height: 50px;
  }

  .content {
    flex: 1;
  }

  .title {
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px dashed #000;
    }
  }

  .summary {
    color: #666;
    font-size: 16px;
  }
}

.meta {
  color: #000;
  opacity: 0.5;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
  font-family: Consolas, "Courier New", Courier, Monaco, Menlo, monospace;

  p {
    margin: 0;
  }

  i {
    padding: 0 10px;
  }
}

.arthive-item {
  display: flex;
  align-items: center;

  time {
    color: #999;
    width: 100px;
  }

  .arthive-title {
    padding: 5px 0;
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  margin-right: 0;
  margin-bottom: 30px;

  section {
    margin-top: 20px;
  }
}

.single-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #336bad;
  }
}

footer {
  margin: 40px auto 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  opacity: 0.8;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    padding: 0;
  }
}

.single-title {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.single-date {
  display: block;
  padding-top: 5px;
  font-size: 15px;
  border-bottom: 1px solid #d3d3d3;
}

.page-meta {
  margin-bottom: 10px;
}

.post-content {
  padding-top: 30px;
  // border-top: 1px solid #999;

  a {
    text-decoration: underline;
    transition: all 0.1s linear;

    &:hover {
      background: #eeeeee;
    }
  }

  blockquote {
    background: #eee;
    padding: 10px;
  }
}

.mob-menu {
  display: none;
}

@media (max-width: 1000px) {
  body {
    font-size: 17px;
    margin: 0;
  }

  .body {
    margin: 0 auto 30px;
  }

  .mob-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: auto;
  }

  header {
    text-align: center;

    .logo {
      font-size: 1.6em;
      font-family: inherit;
      border: none;
    }

    .nav {
      flex-direction: column;
      display: none;

      a {
        display: flex;
        width: 100%;
        height: auto;
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
        text-align: center;

        &:hover {
          background: none;
        }
      }

      .icon {
        flex-direction: column;

        a {
          margin: 0;
        }
      }
    }
  }

  .postitem {
    flex-direction: column;
    align-items: flex-start;

    time {
      font-size: 16px;
    }
  }

  .arthive-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .arthive-title {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  main {
    margin: 0 20px;
  }
}

.highlight pre {
  border: 1px solid #cbcbcb;

  * {
    font-weight: 400 !important;
  }
}

.tags {
  margin-top: 1em;

  a {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 12px;
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.1s linear;
    background: #eee;

    &:hover {
      background: #d0d0d0;
    }
  }
}

.tagslist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    padding: 2px 12px;
    border-radius: 4px;
    background: #eee;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-flex;
    text-decoration: none;
    transition: all 0.1s linear;

    &:active {
      background: #d0d0d0;
      transform: scale(0.96);
    }
  }
}

.aboutme {
  display: flex;
  flex-direction: column;
  display: none;

  img {
    width: 50px;
    border-radius: 50%;
  }

  .content {
    flex: 1;

    .icons {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-right: 10px;
        position: relative;

        &:hover {
          em {
            display: inline-flex;
          }
        }

        svg {
          width: 20px;
        }

        em {
          position: absolute;
          top: 100%;
          left: 0;
          border-radius: 4px;
          padding: 4px 10px;
          background: #000;
          color: #fff;
          display: none;
          align-items: center;
          justify-content: center;
          font-style: normal;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (min-width: 1330px) {
  #TableOfContents {
    position: sticky;
    top: 50px;
    margin-left: calc(100% + 40px);
    width: 300px;
    height: 0;

    &>ul {
      box-shadow: var(--box-shadow);
      background: #fff;
    }
  }
}

.back {
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

.end {
  text-align: center;
  display: block;
  padding: 60px 0;
  color: #aaa;
}