<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <main class="box">

    <!-- <article class="first-entry home-info">
      <div class="entry-content">
        <p>
          欢迎来到我的博客，已经有 <span id="busuanzi_value_site_pv">...</span> 位小伙伴逛过本站。
        </p>
        <p>查看 <a href="/blog/">文章归档</a>。</p>
      </div>
    </article> -->
    <div class="index-list">
      {{ $pages := .Site.RegularPages }}
      {{ $paginator := .Paginate ($pages) }}
      {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}
      <article>
        <h2>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="meta">
          <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">发布于 {{ .Date.Format "2006-01-02"}}</time>
        </div>
        <div class="summary">
          <p>{{ .Summary }}...</p>
        </div>
      </article>
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}


    {{ partial "footer.html" . }}
  </main>

</body>

</html>