<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body id="container">
  {{ partial "header.html" . }}

  <section id="body">
    <h2 id="body-title">📓 Articles</h2>

    <div id="body-in">

      <div class="index-post index-post-content-long">
        <p class="text">欢迎来到我的博客，已经运行了 <span id="days"></span> 天，写了 {{
          $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
      </div>

      {{ $pages := .Site.RegularPages }}
      {{ $paginator := .Paginate ($pages) }}
      {{ $count := 0 }}

      {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}


      <!--  -->
      <div class="index-post" onclick="javascript:window.location.href='{{ .RelPermalink }}'">
        <div class="index-post-content-long">
          <a href="{{ .RelPermalink }}">
            <h2>{{ .Title }}</h2>
          </a>
          <div class="text">{{ .Summary }}</div>
          <div class="index-post-meta">
            <a href="{{ .RelPermalink }}"> # {{ .Date.Format "2006-01-02"}}</a>
            {{ with .Params.categories }}
            {{ range . }}
            <span class="namenode">{{ . }}</span>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
      <!--  -->

      {{ end }}

      {{ partial "pagination.html" . }}
    </div>

    {{ partial "footer.html" . }}
  </section>

  <script>
    const time = "{{ .Site.Params.buildDate }}";
    var now = new Date();
    var end = new Date(time);
    var diff = Math.abs(now - end);
    var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
    $('#days').html(days);
  </script>
</body>

</html>