<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  {{ partial "header.html" . }}

  <section>

    <article class="post-content">
      <p>这是我的个人博客，已经运行了 <span id="days"></span> 天，写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
      <p><strong>最新的 9 篇文章：</strong></p>
      <div class="indexpost">
        {{ $pages := .Site.RegularPages }}
        {{ $paginator := .Paginate ($pages) }}
        {{ $count := 0 }}

        {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <div class="posts-item">
          <span class="date">{{ .Date.Format "2006-01-02"}}</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
      </div>
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}

    </article>


  </section>
  {{ partial "footer.html" . }}

  <script>
    const time = "{{ .Site.Params.buildDate }}";
    var now = new Date();
    var end = new Date(time);
    var diff = Math.abs(now - end);
    var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = days;

  </script>
</body>

</html>