<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  {{ partial "header.html" . }}

  <div id="body">
    <div class="container">

      <main>
        {{ $pages := .Site.RegularPages }}
        {{ $paginator := .Paginate ($pages) }}
        {{ $count := 0 }}

        {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}

        <section>
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <p>{{ .Summary }}</p>
          <div>
            {{ with .Params.tags }}
            {{ range . }}
            <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
            {{ end }}
            {{ end }}
          </div>
        </section>

        {{ end }}
      </main>

    </div>
    {{ partial "footer.html" . }}
  </div>

  <script>
    const time = "{{ .Site.Params.buildDate }}";
    var now = new Date();
    var end = new Date(time);
    var diff = Math.abs(now - end);
    var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = days;

  </script>
</body>

</html>