{{ partial "header.html" . }}

<main>
  <div class="max-w-4xl mx-auto">
    <h1 class="header-title">{{ .Title }}</h1>
  </div>

  {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}

  <section class="max-w-4xl mx-auto">
    <h2 class="mb-12 pb-12 border-b border-gray-200">{{ .Key }}</h2>

    {{ range .Pages }}
    <div class="mb-12 pb-12 border-b border-gray-200">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div class="text-sm text-gray-600 break-words">
        <p class="my-4">{{ .Summary }}</p>
        <p>
          <i class="far fa-folder" aria-hidden="true"></i>
          <span>
            {{ range $key, $value := .Params.categories -}}
            {{- if $key }}, {{ end }}
            {{ . }}
            {{- end }}
          </span> ·
          <i class="far calendar-plus" aria-hidden="true"></i>
          <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time> ·
          <i class="fas fa-mouse-pointer" aria-hidden="true"></i>
          94739
        </p>
      </div>

    </div>
    {{ end }}
  </section>

  {{ end }}

</main>

{{ partial "footer.html" . }}