{{ partial "header.html" . }}

<emoji-reaction></emoji-reaction>
<header class="header">
  <h1 class="header-title">{{ .Title }}</h1>
  {{ if in .Site.Params.mainSections .Type }}
  {{ if .Date }}
  <div class="post-meta">
    发布于 <i>
      <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
    </i> / 
    本文总阅读量 <span id="busuanzi_value_page_pv">~</span> 次
  </div>
  {{ end }}
  {{ end }}
</header>

{{ .TableOfContents }}

<article class="post-content markdown-body">
  {{ .Site.Params.postHeaderContent | safeHTML }}
  {{ .Content }}
</article>

<!-- Post Tags -->
{{ if .Params.tags }}
<p>
  {{ range .Params.tags }} {{ $href := print (absURL "/tags/") (urlize .) }}
 <a href="{{ $href }}">#{{ . }}</a>
  {{ end }}
</p>
{{ end }}


{{ if in .Site.Params.mainSections .Type }}
{{ partial "comment.html" . }}
{{ end }}

{{ partial "footer.html" . }}