html {
  overflow-y: scroll;
}

// @font-face {
//   font-family: "LXGWNeoXiHei";
//   src: url(../fonts/LXGWNeoXiHei.ttf);
// }

// @font-face {
//   font-family: "Hack";
//   src: url(../fonts/Hack-Regular-4.ttf);
// }

body {
  font-family: Verdana, sans-serif;
  // font-family: "LXGWNeoXiHei", "Menlo", "Meslo LG", "Arial", monospace;
  margin: auto;
  padding: 10px;
  max-width: 700px;
  text-align: left;
  background-color: #e8eaed;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}

a {
  color: #3273dc;
}

.title {
  text-decoration: none;
  border: 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid #999;
  color: #222;
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 40px 25px;
  text-align: center;
}

.helptext {
  color: #777;
  font-size: small;
}

.errorlist {
  color: #eba613;
  font-size: small;
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 5px;
}

ul.blog-posts li a {
  color: #3273dc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

.header-title {
  font-size: 1.4em;
}

code {
  font-family: Consolas, monospace;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: normal;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: inherit;

  background: #eee;
  border-radius: 4px;
  padding: 4px 6px;
}

.highlight > code {
  font-size: 0.9em;
  padding: 1px 3px;
  position: relative;
  top: -1px;
  color: #333638;
  background-color: #d8dbe2;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.1);
}

pre {
  background-color: #1a1b21;
  margin-left: -2.5em;
  margin-right: -2.5em;
  padding: 0.5rem 2rem;
  display: block;
  overflow-x: auto;

  code {
    background: none !important;
    padding: 0;
    font-size: 14px !important;
  }
}

/* Background */
.bg {
  color: #ef9f76;
  background-color: #222431;
}

/* prewrapper */
.chroma {
  color: #ef9f76;
  background-color: #222431;
}

/* other */
.chroma .x {
}

/* error */
.chroma .err {
  color: #e78284;
}

/* codeline */
.chroma .cl {
}

/* linelink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* linetabletd */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* linetable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* linehighlight */
.chroma .hl {
  background-color: #ffffcc;
}

/* linenumberstable */
.chroma .lnt {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #774f3b;
}

/* linenumbers */
.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #774f3b;
}

/* line */
.chroma .line {
  display: flex;
}

/* keyword */
.chroma .k {
  color: #ca9ee6;
}

/* keywordconstant */
.chroma .kc {
  color: #ca9ee6;
  font-style: italic;
}

/* keyworddeclaration */
.chroma .kd {
  color: #ca9ee6;
}

/* keywordnamespace */
.chroma .kn {
  color: #ca9ee6;
}

/* keywordpseudo */
.chroma .kp {
  color: #ca9ee6;
  font-weight: bold;
}

/* keywordreserved */
.chroma .kr {
  color: #ca9ee6;
}

/* keywordtype */
.chroma .kt {
  color: #e5c890;
}

/* name */
.chroma .n {
  color: #babbf1;
}

/* nameattribute */
.chroma .na {
  color: #e5c890;
}

/* namebuiltin */
.chroma .nb {
  color: #c6d0f5;
  font-style: italic;
}

/* namebuiltinpseudo */
.chroma .bp {
  color: #babbf1;
}

/* nameclass */
.chroma .nc {
  color: #e5c890;
}

/* nameconstant */
.chroma .no {
  color: #e5c890;
}

/* namedecorator */
.chroma .nd {
  color: #f4b8e4;
}

/* nameentity */
.chroma .ni {
  color: #f4b8e4;
}

/* nameexception */
.chroma .ne {
  color: #ea999c;
}

/* namefunction */
.chroma .nf {
  color: #99d1db;
}

/* namefunctionmagic */
.chroma .fm {
  color: #babbf1;
}

/* namelabel */
.chroma .nl {
  color: #e5c890;
}

/* namenamespace */
.chroma .nn {
  color: #e5c890;
}

/* nameother */
.chroma .nx {
}

/* nameproperty */
.chroma .py {
  color: #babbf1;
}

/* nametag */
.chroma .nt {
  color: #ca9ee6;
}

/* namevariable */
.chroma .nv {
}

/* namevariableclass */
.chroma .vc {
  color: #babbf1;
}

/* namevariableglobal */
.chroma .vg {
  color: #babbf1;
}

/* namevariableinstance */
.chroma .vi {
  color: #babbf1;
}

/* namevariablemagic */
.chroma .vm {
  color: #babbf1;
}

/* literal */
.chroma .l {
}

/* literaldate */
.chroma .ld {
}

/* literalstring */
.chroma .s {
  color: #a6d189;
}

/* literalstringaffix */
.chroma .sa {
  color: #a6d189;
}

/* literalstringbacktick */
.chroma .sb {
  color: #a6d189;
}

/* literalstringchar */
.chroma .sc {
  color: #a6d189;
}

/* literalstringdelimiter */
.chroma .dl {
  color: #a6d189;
}

/* literalstringdoc */
.chroma .sd {
  color: #a6d189;
}

/* literalstringdouble */
.chroma .s2 {
  color: #a6d189;
}

/* literalstringescape */
.chroma .se {
  color: #8caaee;
}

/* literalstringheredoc */
.chroma .sh {
  color: #a6d189;
}

/* literalstringinterpol */
.chroma .si {
  color: #a6d189;
}

/* literalstringother */
.chroma .sx {
  color: #a6d189;
}

/* literalstringregex */
.chroma .sr {
  color: #8caaee;
}

/* literalstringsingle */
.chroma .s1 {
  color: #a6d189;
}

/* literalstringsymbol */
.chroma .ss {
  color: #a6d189;
}

/* literalnumber */
.chroma .m {
}

/* literalnumberbin */
.chroma .mb {
}

/* literalnumberfloat */
.chroma .mf {
}

/* literalnumberhex */
.chroma .mh {
}

/* literalnumberinteger */
.chroma .mi {
}

/* literalnumberintegerlong */
.chroma .il {
}

/* literalnumberoct */
.chroma .mo {
}

/* operator */
.chroma .o {
  color: #99d1db;
}

/* operatorword */
.chroma .ow {
  color: #99d1db;
  font-weight: bold;
}

/* punctuation */
.chroma .p {
  color: #c6d0f5;
}

/* comment */
.chroma .c {
  color: #626880;
  font-style: italic;
}

/* commenthashbang */
.chroma .ch {
  color: #626880;
  font-style: italic;
}

/* commentmultiline */
.chroma .cm {
  color: #626880;
  font-style: italic;
}

/* commentsingle */
.chroma .c1 {
  color: #626880;
  font-style: italic;
}

/* commentspecial */
.chroma .cs {
  color: #626880;
  font-style: italic;
}

/* commentpreproc */
.chroma .cp {
  color: #8caaee;
  font-style: italic;
}

/* commentpreprocfile */
.chroma .cpf {
  color: #8caaee;
  font-style: italic;
}

/* generic */
.chroma .g {
}

/* genericdeleted */
.chroma .gd {
  color: #ea999c;
}

/* genericemph */
.chroma .ge {
  font-style: italic;
}

/* genericerror */
.chroma .gr {
  color: #ea999c;
}

/* genericheading */
.chroma .gh {
  color: #99d1db;
  font-weight: bold;
}

/* genericinserted */
.chroma .gi {
  color: #a6d189;
}

/* genericoutput */
.chroma .go {
}

/* genericprompt */
.chroma .gp {
  color: #737994;
  font-weight: bold;
}

/* genericstrong */
.chroma .gs {
  font-weight: bold;
}

/* genericsubheading */
.chroma .gu {
  color: #99d1db;
  font-weight: bold;
}

/* generictraceback */
.chroma .gt {
  color: #ea999c;
}

/* genericunderline */
.chroma .gl {
}

/* textwhitespace */
.chroma .w {
  color: #414559;
}

#TableOfContents > ul {
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

.gotop {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 80px;
  font-size: 40px;
  cursor: pointer;
  color: #000;

  &.act {
    display: block;
  }
}

/* simplebox.min.css 图片灯箱 css */
:root {
  --time: 500ms;
}

#overlay,
.cross {
  will-change: transform;
}

#overlay,
.center,
.cross {
  top: 0;
  right: 0;
}

.cross--light::after,
.cross--light::before {
  background-color: #000;
}

.cross--dark::after,
.cross--dark::before {
  background-color: #fff;
}

.slb {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.slb--invert {
  box-shadow: 2px 2px 12px 1px rgba(255, 255, 255, 0.3);
}

.slb--opened {
  cursor: auto;
}

.pop-in {
  -webkit-animation: pop-in var(--time);
  -moz-animation: pop-in var(--time);
  -ms-animation: pop-in var(--time);
}

.pop-out {
  -webkit-animation: pop-out var(--time);
  -moz-animation: pop-out var(--time);
  -ms-animation: pop-out var(--time);
}

#overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 999;
  cursor: zoom-out;
}

.center {
  max-height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: zoom-out;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.post-content {
  img {
    border: 1px solid #ccc;
  }
}

details {
  background: #eee;

  summary {
    background: #e0e0e0;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
  }
}

.post-meta {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

main {
  margin-top: 20px;
  background: #fff;
  padding: 20px 2em 50px;
  min-height: 300px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media (max-width: 600px) {
  main {
    padding: 20px 1em;
  }

  pre {
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5rem 1rem;
  }
}

.nolist {
  ul,
  ol {
    list-style: none;
    padding: 0;
    padding-left: 5px;
  }
}

.rss {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
  font-size: 15px;

  img {
    margin-right: 5px;
    width: 18px;
  }
}

#search {
  input {
    width: 100%;
    border-radius: 4px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #9a9a9a;
  }
}

#resultsContainer {
  padding: 10px;
}
