*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

/* Structure */
html {
	font-size: 100%;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Arial, sans-serif !important;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
	word-wrap: break-word;
	background: #112d4e;
	-webkit-font-smoothing: antialiased;
}

.container {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.container--outer {
	width: 100%;
	margin: 0 auto;
	/* border: 0 2px 0 2px solid rgba(0, 0, 0, 0.78); */
}

.wrapper {
	padding: 15px;
	background: #ffffff;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.primary {
	-webkit-flex: 1 0 65.83%;
	flex: 1 0 65.83%;
	-webkit-order: 1;
	order: 1;
	min-width: 0;
}

.sidebar {
	-webkit-flex: 1 0 31.66%;
	flex: 1 0 31.66%;
	-webkit-order: 2;
	order: 2;
	padding: 10px;
	min-width: 0;
	margin: 0 0 0 2.5%;
	background: #dbe2ef;
}

.sidebar--left {
	-webkit-order: 0;
	order: 0;
	margin: 0 2.5% 0 0;
}

.clearfix {
	display: block;
}

.clearfix::after {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
	visibility: hidden;
	content: "";
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-size: inherit;
	line-height: inherit;
}

/* Button */
.btn {
	color: #000000;
	text-decoration: underline;
}

.btn:hover {
	color: #919191;
}

/* Animation */
.menu__item,
.btn {
	transition: background-color .25s ease-out;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	font-weight: 700;
	line-height: 1.3;
	color: #000;
}

h1 {
	font-size: 32px;
	font-size: 1.3rem;
}

h2 {
	font-size: 24px;
	font-size: 1.2rem;
}

h3 {
	font-size: 20px;
	font-size: 1.15rem;
}

h4 {
	font-size: 18px;
	font-size: 1rem;
}

h5 {
	font-size: 16px;
	font-size: .9rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #3f72af;
}

hr {
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid #dadada;
}

p {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
}

b,
strong {
	font: inherit;
	font-weight: 700;
}

i,
em {
	font: inherit;
	font-style: italic;
}

ol,
ul {
	padding: 0;
	margin: 0;
}

small {
	font-size: 12px;
	font-size: .75rem;
}

mark {
	background-color: #fd5;
}

figure {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
}

figcaption {
	margin-top: 4px;
	margin-top: .25rem;
	color: #666;
}

figcaption h4 {
	margin: 0;
	color: inherit;
}

pre,
code,
kbd,
samp {
	font-size: inherit;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

pre,
code {
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
	border-radius: 10px;
}

code {
	padding: 0 5px;
	color: #c33;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

pre {
	display: block;
	padding: 1.25rem;
	margin-bottom: 1.25rem;
	overflow: auto;
	color: #ffffff;
	background-color: #232936 !important;
	border-radius: 5px;
	/* 添加圆角 */
}

pre code {
	font-size: 14px;
	padding: 0;
	color: inherit;
	white-space: inherit;
	background: inherit;
	border: 0;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

kbd {
	padding: 2px 3px;
	color: #fff;
	background-color: #2a2a2a;
}

blockquote {
	display: block;
	padding: 5px 0 5px 15px;
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	line-height: 1.6;
	border-left: 5px solid #3f72af;
}

blockquote p:last-child {
	margin: 0;
}

blockquote footer {
	text-align: right;
}

sup,
sub {
	font-size: 10px;
	font-size: .625rem;
	font-style: normal;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
	border-bottom: 1px dotted #000;
}

q {
	font-style: italic;
}

address {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	line-height: 1.5;
}

dl {
	margin: 0 0 10px 20px;
}

dt,
dd {
	display: list-item;
}

dt {
	font-weight: bold;
	list-style-type: square;
}

dd {
	margin-left: 20px;
	list-style-type: circle;
}

select {
	max-width: 100%;
}

.warning {
	padding: 20px 10px;
	text-align: center;
	border: 1px solid #ddd;
}

.warning__icon {
	margin-bottom: 20px;
	fill: #ddd;
}

/* Header */
.header {
	background: #3f72af;
}

.topbar {
	padding: 15px;
}

.topbar__link {
	display: inline-block;
}

.topbar__item {
	display: inline-block;
	vertical-align: middle;
}

.topbar__img {
	max-height: 256px;
}

.topbar--mixed .topbar__item {
	margin: .5rem auto;
}

.topbar--mixed .topbar__img {
	max-width: 128px;
	max-height: 128px;
}

.topbar--mixed .topbar__text {
	padding: 0 1rem;
}

.topbar__title {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgb(37, 37, 37);
}

.topbar__tagline {
	display: inline-block;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
	border-top: 1px solid #ebebeb;
	text-shadow: 1px 1px 1px rgb(37, 37, 37);
}

/* Main menu */
.no-js .menu__btn {
	display: none;
}

.menu__btn {
	display: block;
	width: 100%;
	padding: 0;
	font: inherit;
	color: #fff;
	background: #2a2a2a;
	border: 0;
	outline: 0;
}

.menu__btn-title {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	text-align: right;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

:focus>.menu__btn-title {
	box-shadow: inset 0 0 1px 3px #3f72af;
}

button:not(:-moz-focusring):focus>.menu__btn-title {
	box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
	outline: 0;
}

.js .menu__btn--active {
	color: #3f72af;
}

.menu__list {
	background: #2a2a2a;
}

.menu__item:hover {
	background: #3f72af;
}

.menu__item:first-child {
	border: 0;
}

.menu__item--active {
	background: #3f72af;
}

.menu__link {
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	color: #fff;
}

.menu__link:hover {
	color: #fff;
}

.js .menu__list {
	position: absolute;
	z-index: 1;
	width: 100%;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.js .menu__list--active {
	visibility: visible;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.menu__list--transition {
	transition: visibility .15s ease, transform .15s ease, -webkit-transform .15s ease;
}

@media screen and (min-width: 767px) {
	.menu {
		border-bottom: 5px solid #3f72af;
	}

	.menu__btn {
		display: none;
	}

	.menu__list,
	.js .menu__list {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		visibility: visible;
		border: 0;
		-webkit-transform: none;
		transform: none;
	}

	.menu__item {
		border-left: 1px solid rgba(255, 255, 255, .1);
	}
}

/* Posts/Pages */
.post__header,
.main__header {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.main__title {
	font-size: 28px;
	font-size: 1.75rem;
}

.main__content {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.meta {
	font-size: 14px;
	vertical-align: baseline;
}

.meta,
.meta a {
	color: #666;
}

.meta a:hover {
	color: #3f72af;
}

.meta__item {
	display: inline;
	margin-left: 15px;
}

.meta__item:first-child {
	margin-left: 0;
}

.meta__icon {
	margin-right: 5px;
	vertical-align: middle;
	fill: #c4c4c4;
}

.meta__text {
	vertical-align: middle;
}

.post__title {
	margin: 0;
}

.post__meta {
	padding: 5px 0;
	margin-top: 10px;
	margin-top: .625rem;
	border-top: 1px dotted #ebebeb;
	border-bottom: 1px dotted #ebebeb;
}

.post__lead {
	margin-top: 4px;
	margin-top: .25rem;
	margin-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
}

.post__thumbnail {
	max-width: 1030px;
	margin: 0 0 20px;
	margin-bottom: 0 0 1.25rem;
}

.post__thumbnail img {
	width: 100%;
}

.content a,
.warning a {
	text-decoration: underline;
}

.content a:hover,
.warning a:hover {
	color: #3f72af;
	text-decoration: underline;
}

.content .alignnone {
	display: block;
	margin: 20px 0;
	margin: 1.25rem 0;
}

.content .aligncenter {
	display: block;
	margin: 20px auto;
	margin: 1.25rem auto;
}

.content .alignleft {
	display: inline;
	float: left;
	margin: 5px 20px 20px 0;
	margin: .3125rem 1.25rem 1.25rem 0;
}

.content .alignright {
	display: inline;
	float: right;
	margin: 5px 0 20px 20px;
	margin: .3125rem 0 1.25rem 1.25rem;
}

.content ol {
	list-style: decimal;
}

.content ul,
.content ol {
	margin: 0 0 20px 40px;
}

.content ul ul,
.content ol ol,
.content ol ul,
.content ul ol {
	margin: 0 0 0 40px;
}

.content li {
	margin-bottom: 5px;
}

.post__footer {
	margin-top: 20px;
	margin-top: 1.25rem;
}

/* Post tags */
.tags {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	font-size: 12px;
	font-size: .75rem;
	line-height: 1;
	color: #fff;
}

.tags__item {
	float: left;
	margin: 0 6px 6px 0;
	margin: 0 .375rem .375rem 0;
	background: #2a2a2a;
}

.tags__item:hover {
	background: #3f72af;
}

.tags__link,
.tags__link:hover {
	display: block;
	padding: 10px 15px;
}

.tags__badge {
	float: left;
	width: 32px;
	height: 32px;
	padding: 8px;
	margin-right: 6px;
	background: #3f72af;
	fill: #fff;
}

/* List content */
.list__item {
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-bottom: 1px solid #ebebeb;
}

.list__header {
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.list__title {
	font-size: 18px;
	color: #818284;
	/* font-size: 1rem; */
	padding: 2px;
	border-left: 5px solid #000000 !important;
	padding-left: 10px !important;
}

.list__item .content {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	font-size: 14px;
}

.list__meta {
	margin-top: 5px;
}

.list__thumbnail {
	float: left;
	margin: 0 20px 0 0;
}

.list__thumbnail img {
	width: 100%;
	max-width: 235px;
}

.list__footer-readmore {
	float: right;
	font-weight: 400;
	font-size: .8rem;
}

/* Pagination */
.pagination {
	margin-top: 20px;
}

.pagination__item {
	display: inline-block;
	padding: 10px 15px;
	font-weight: 700;
	color: #000;
	background: #f5f5f5;
}

.pagination__item:hover,
.pagination__item--current {
	color: #fff;
	background: #3f72af;
}

/* Images / Video */
img {
	width: auto\9;
	/* ie8 */
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

iframe,
embed,
object,
video {
	max-width: 100%;
}

/* Table */
table {
	width: 100%;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

td,
th {
	padding: 5px 10px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

th {
	font-weight: 700;
}

/* Forms */
input {
	padding: 5px;
	font-size: 12px;
	vertical-align: middle;
	background: #f5f5f5;
	border: 1px solid #ebebeb;
	transition: all .25s ease-in-out;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url] {
	width: 60%;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=url]:hover,
textarea:hover {
	border: 1px solid #aaa;
}

input[type=submit],
input[type=reset] {
	display: inline-block;
	min-width: 150px;
	padding: 10px 15px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	background: #2a2a2a;
	border: 0;
	transition: all .1s linear;
	-webkit-appearance: none;
	appearance: none;
}

input[type=submit]:hover,
input[type=reset]:hover {
	background: #3f72af;
}

textarea {
	width: 96%;
	padding: 5px;
	overflow: auto;
	line-height: 1.5;
	resize: vertical;
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, .1);
}

/* Widgets */
.widget {
	padding-bottom: 10px;
	overflow: hidden;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	border-left: 5px solid #000000;
	background: #3f72af;
	;
	margin: 0;
	position: relative;
	padding: 3px;
	padding-left: 10px;
	font-size: 16px;
	font-size: .8rem;
	font-weight: bold;
	color: #ffffff;
}

.widget__item {
	display: list-item;
	padding: 5px 0 0 0;
	text-decoration: underline;
}

.widget__item:first-child {
	padding-top: 5px;
}

.widget__counter--bubble {
	display: inline-block;
	padding: 0 6px;
	font-size: .75rem;
	color: #666;
	text-align: center;
	background: #ebebeb;
	border-radius: 2em;
}

.widget__content {
	padding-left: 30px;
}

/* misc widget */
.widget-misc__item {
	padding: 0;
	border: 0;
}

.widget-misc__link {
	display: block;
	white-space: normal;
}

.widget-misc__link-icon {
	vertical-align: middle;
	fill: #fff;
}

/* Tags Widget */
.widget-taglist__link {
	display: block;
	margin: 0 4px 4px 0;
	font-size: 14px;
	font-weight: normal;
}

/* Media Queries */
@media screen and (max-width: 1475px) {
	.container--outer {
		width: 95%;
	}
}

@media screen and (max-width: 900px) {
	.container--outer {
		width: 100%;
		margin: 0 auto;
	}

	.wrapper,
	.topbar {
		padding: 10px;
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		display: block;
	}

	.sidebar {
		float: none;
		width: 100%;
		margin: 0;
	}

	.topbar {
		text-align: center;
	}

	.topbar__link {
		margin: 0 auto;
	}

	.topbar__title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.sidebar {
		margin-top: 20px;
	}
}

@media screen and (max-width: 620px) {

	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url] {
		width: 88%;
	}

	.meta__item {
		display: block;
		margin-left: 0;
	}

	.content ul,
	.content ol {
		margin: 0 0 20px 20px;
	}

	.content ul ul,
	.content ol ol,
	.content ol ul,
	.content ul ol {
		margin: 0 0 0 20px;
	}

	.list__thumbnail {
		max-width: 80px;
	}

	.list__title {
		font-size: 16px;
		font-size: 1rem;
	}

	.list__lead {
		font-size: 14px;
		font-size: .875rem;
	}

	.list__meta {
		display: block;
		font-size: 11px;
		font-size: .6875rem;
	}
}

@media screen and (min-width: 1930px) {
	body {
		font-size: 18px;
	}

	.widget-taglist__link {
		font-size: 18px;
	}

	.list__title {
		font-size: 20px;
	}
}

.footer__copyright {
	color: #fff;
	text-align: center;
	padding: 20px 10px;
}

.footer__copyright a {
	color: #fff;
}

.post__content {
	font-size: 16px;
}