.tk-comments .tk-content {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;

  p {
    margin: 5px 0;
  }
}

.tk-avatar .tk-avatar-img {
  vertical-align: baseline;
}

.tk-input .el-textarea__inner {
  font-family: inherit;
}

.tk-content {
  a {
    color: var(--color-accent-fg);
  }
}