<header id="site-header">
  <div class="hdr-wrapper section-inner">
    <div class="hdr-left">
      <div class="site-branding"><a href="/">子舒的博客</a></div>
      <nav class="site-nav hide-in-mobile">
        {{ range .Site.Params.socials }}
        <a href="{{ .link }}">{{ .name }}</a>
        {{ end }}
        <a href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
          target="_blank">画廊</a>
      </nav>
    </div>
    <div class="hdr-right hdr-icons"><span class="hdr-social hide-in-mobile"><a href="https://github.com/98zi"
          rel="noopener me" target="_blank" title="Github"><svg class="feather" fill="none" height="24"
            stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
            width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22">
            </path>
          </svg></a></span><button class="hdr-btn" id="menu-btn" title="Menu"><svg class="feather feather-menu"
          fill="none" height="24" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <line x1="3" x2="21" y1="12" y2="12"></line>
          <line x1="3" x2="21" y1="6" y2="6"></line>
          <line x1="3" x2="21" y1="18" y2="18"></line>
        </svg></button></div>
  </div>
</header>