<footer class="footer">
  <p>© 2020 - 2023 Powered by
    <a href="https://github.com/98zi/" target="_blank">Github</a>
    · <a href="/index.xml" target="_blank">RSS</a>
  </p>
</footer>

<div class="fixed">
  <a href="javascript:void(0)" class="menutoc"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-article" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M7 8h10" /><path d="M7 12h10" /><path d="M7 16h10" /></svg></a>
  <a class="top-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentcolor"><path d="M12 6H0l6-6z"></path></svg></a>
</div>

{{ partial "scripts.html" . }}