<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <section>
    <div class="l-wrap">
      {{ if in .Site.Params.mainSections .Type }}
      <table class="header-table">
        <tbody>
          <tr>
            <td colspan="2" rowspan="2" class="width-auto">
              <div class="h1">{{ .Title }}</div>
              <!-- <span class="subtitle">这是我的个人博客</span> -->
            </td>
            <th>Category</th>
            <td class="width-min">
              {{ with .Params.categories }}
              {{ range . }}
              <span class="namenode"><a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a></span>
              {{ end }}
              {{ end }}
            </td>
          </tr>
          <tr>
            <th>Updated</th>
            <td class="width-min"><time style="white-space: pre;">{{ .Date.Format "2006-01-02"}}</time></td>
          </tr>
          <tr>
            <th class="width-min">Tags</th>
            <td class="width-auto">
              {{ with .Params.tags }}
              {{ range . }}
              <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
              {{ end }}
              {{ end }}
            </td>
            <th class="width-min">Author</th>
            <td>子舒</td>
          </tr>
        </tbody>
      </table>
      {{- else -}}
      <div class="h1">{{ .Title }}</div>
      {{ end }} 
      <!-- {{ if in .Site.Params.mainSections .Type }}
      <div class="post-meta">
        <time> {{ .Date.Format "2006-01-02"}}</time>
        {{ with .Params.categories }}
        {{ range . }}
        <span class="jj">-</span>
        <span class="namenode"><a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a></span>
        {{ end }}
        {{ end }}

        <span class="tag-node">
          {{ with .Params.tags }}
          {{ range . }}
          <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
          {{ end }}
          {{ end }}
        </span>

      </div>
      {{ end }} -->

      {{ if in .Site.Params.mainSections .Type }}
      <div class="toc">
        {{ .TableOfContents }}
      </div>
      {{ end }}

      <article class="post-content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
        <div class="weekly-pagination"></div>
      </article>

      {{ if in .Site.Params.mainSections .Type }}
      {{ partial "comment.html" . }}
      {{ end }}
    </div>
  </section>
  {{ partial "footer.html" . }}
</body>

</html>