<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <section>
    
    <h1 class="body-title">{{ .Title }}</h1>

    {{ if in .Site.Params.mainSections .Type }}
    <div class="meta">
      <span class="time"> <time> {{ .Date.Format "2006-01-02"}}</time></span>
     
      {{ with .Params.categories }}
      {{ range . }}
      <span class="tags">分类：
        <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      </span>
      {{ end }}
      {{ end }}

      <span class="tags">
        {{ with .Params.tags }}
        标签：
        {{ range . }}
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
        {{ end }}
        {{ end }}
      </span>

    </div>
    {{ end }}

    {{ if in .Site.Params.mainSections .Type }}
    <div class="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}

    <article class="post-content">
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}
      <div class="weekly-pagination"></div>
    </article>

    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "comment.html" . }}
    {{ end }}
    
  </section>
  {{ partial "footer.html" . }}
</body>

</html>