<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <section id="body">

    <h1 class="body-title">{{ .Title }}</h1>

    <article class="post-content">
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}

      <ul class="tags-list">
        {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a> </li>
        {{ end }}
      </ul>
    </article>

  </section>
  {{ partial "footer.html" . }}
</body>

</html>