<footer class="footer">
  <p>© 2020 - 2024
    Powered by
    <a href="https://github.com/dlzmoe/blog" target="_blank">Github</a>
    / <a href="/index.xml" target="_blank">RSS</a>
    / <a href="https://stats.uptimerobot.com/j3MZLGvjPN" target="_blank">运行监控</a>
    <a class="footer-notbyai" href="https://notbyai.fyi/" target="_blank">
      <img style="height: 30px;" src="https://imgurl.zishu.me/notbyai.webp" alt="notbyai">
    </a>
  </p>
</footer>
<style>
  .footer-notbyai {
    margin-left: 10px;
    text-decoration: none !important;
  }

  .footer-notbyai::after {
    display: none;
  }
</style>

{{ partial "scripts.html" . }}