{{ partial "header.html" . }}

<header class="header">
  <a class="rss" href="./index.xml" target="_blank"><img src="/css/rss.jpg"> RSS 订阅此分类</a>
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>
      {{ end }}
    </div>
  </small>
  <h1 class="header-title">{{ .Title }}</h1>
</header>

{{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
<h2>{{ .Key }}</h2>
<ul class="blog-posts">
  {{ range .Pages }}
  <li>
    <span>
      <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
    </span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

{{ end }}


{{ partial "footer.html" . }}