<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}



<body>

  <div class="wrapper">
    <div class="main">
      {{ partial "header.html" . }}

      <div class="items">
        {{ $pages := .Site.RegularPages }}
        {{ $paginator := .Paginate ($pages) }}
        {{ $count := 0 }}

        {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <div class="item">
          <div class="item-main">
            <div class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="item-info">
              <div class="item-date">{{ .Date.Format "2006/1/2"}}</div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ partial "pagination.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </div>
  
</body>

</html>