{{ partial "header.html" . }}
<emoji-reaction></emoji-reaction>
<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>

<ul class="blog-posts">
  {{ $pages := .Site.RegularPages }}
  {{ $paginator := .Paginate ($pages) }}
  {{ range $paginator.Pages }}
  {{ $title := .Title }}
  {{ $summary := .Summary }}

  <li>
    <span>
      <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
    </span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <!-- <div class="entry-content">
      <p>{{ .Summary }}</p>
    </div> -->
  </li>

  {{ end }}
</ul>


{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}