body {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 1.8;
  color: #374151;
  word-wrap: break-word;
  font-family: "Kanit", Arial;
}

a {
  color: #0000ff;
}

li {
  &::marker {
    color: #d1d5db;
  }
}

table {
  width: 100%;
}

.headnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 12px;

  .logo {
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      padding: 0 5px;
      margin: 0 5px;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  .aside-list {
    width: 110px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50px;

    a {
      text-decoration: none;

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .posts-year {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .posts {
    flex: 1;
    padding-left: 10px;
  }

}

.posts-list {
  margin-bottom: 30px;
}

.posts-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 4px;

  .date {
    white-space: nowrap;
    font-size: 14px;
    padding-top: 4px;
    margin-right: 14px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  }
}

.body-title {
  font-size: 24px;
  font-weight: bold;
}

.post-meta {
  font-size: 14px;
  color: #909090;
  padding: 20px 0;

  a {
    color: #909090;
  }
}

.namenode {
  margin-left: 20px;
}

.tag-node {
  margin-left: 20px;

  a {
    margin-right: 5px;
  }
}

.post-content {
  img {
    border: 1px solid #eee;
    box-shadow: 0px 8px 14px 0px rgb(0 0 0 / 30%);
  }
}

.comments {
  padding: 40px 0;
}

.footer {
  border-top: 2px solid #e5e7eb;
  margin-top: 30px;
  font-size: 15px;
}

@media(max-width:768px) {
  .headnav {
    flex-direction: column;
    padding: 20px 0;
  }

  .container .aside-list {
    position: static;
    width: 100%;
    flex-direction: row;

    a {
      margin-right: 20px;
    }
  }

  .container .posts {
    padding-left: 0;
  }

  .headnav .logo {
    font-size: 26px;
  }
}

.tags-list {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;

  li {
    margin-right: 10px;
  }
}

.indexpost {
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e7eb;
}