{{ partial "header.html" . }}

<main class="site-main section-inner">
  <div class="header">
    <h1 class="header-title">{{ .Title }}</h1>
  </div>

  {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
  <h2 class="archive-title">{{ .Key }}</h2>
  <ul>
    {{ range .Pages }}

    <li class="post">
      <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
      <a href="{{ .RelPermalink }}">
        <span>{{ .Title }}</span>
        <span class="category">
          {{ range $key, $value := .Params.categories -}}
          {{- if $key }}, {{ end }}
          {{ . }}
          {{- end }}
        </span>
      </a>
    </li>

    {{ end }}
  </ul>

  {{ end }}

</main>

{{ partial "footer.html" . }}