<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

  {{ partial "header.html" . }}
  <main class="site-main section-inner">

    <header class="post-header">
      {{ if in .Site.Params.mainSections .Type }}
      <div class="post-meta">
        <span datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</span>
      </div>
      {{ end }}
     
      <h1>{{ .Title }}</h1>
    </header>
    {{ if in .Site.Params.mainSections .Type }}
    <div class="post-info">
      <p>
        Categories:
        {{ range $key, $value := .Params.categories -}}
        {{- if $key }}, {{ end }}
        {{ . }}
        {{- end }}
      </p>
      <p>
        Tags:
        <!-- Post Tags -->
        {{ if .Params.tags }}
        {{ range .Params.tags }}
        {{ . }}
        {{ end }}
        {{ end }}
      </p>
      <hr class="post-end">
    </div>
    {{ end }}

    <article class="content">
      {{ if in .Site.Params.mainSections .Type }}
      {{ .TableOfContents }}
      {{ end }}

      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}
    </article>

    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "comment.html" . }}
    {{ end }}

  </main>

  {{ partial "footer.html" . }}
</body>

</html>