<nav class="navigation">
  <section class="container"><a class="navigation-brand" href="/">子舒的博客</a>
    <ul class="navigation-list" id="navigation-list">
      {{ range .Site.Params.socials }}
      <li class="navigation-item navigation-menu"><a class="navigation-link" href="{{ .link }}">{{ .name }}</a></li>
      {{ end }}
      <li class="navigation-item navigation-menu"><a class="navigation-link"
      href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
      target="_blank">Gallery</a></li>
      <li class="navigation-item menu-separator"><span>|</span></li>
      <li class="navigation-item navigation-social"><a class="navigation-link"
          href="https://github.com/dlzmoe/blog" target="_blank" title="github"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-github">
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22">
            </path>
          </svg></a></li>
      <li class="navigation-item navigation-social"><a class="navigation-link"
          href="https://twitter.com/anghunk1" target="_blank" childrentwitter><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-twitter">
            <path
              d="M23 3a10.9 10.9.0 01-3.14 1.53 4.48 4.48.0 00-7.86 3v1A10.66 10.66.0 013 4s-4 9 5 13a11.64 11.64.0 01-7 2c9 5 20 0 20-11.5a4.5 4.5.0 00-.08-.83A7.72 7.72.0 0023 3z">
            </path>
          </svg></a></li>

    </ul>
  </section>
</nav>