{{- $topbarTitle := .Site.Params.topbar.title | default .Site.Title -}}
{{- $topbarSubtitle := .Site.Params.topbar.subtitle | default .Site.Params.subtitle -}}
{{- $topbarImage := .Site.Params.topbar.image -}}

{{- if or $topbarTitle $topbarImage }}
	{{/* Defined when topbar is mixed (image + text) */}}
	{{- $topbarMix := and $topbarImage $topbarTitle -}}

	<div class="topbar{{ with $topbarMix }} topbar--mixed{{ end }}">
		<a class="topbar__link" href="{{ "" | relLangURL }}"{{ with $topbarTitle }} title="{{ . }}"{{ end }} rel="sidebar">
			{{ with $topbarImage -}}
				<div class="topbar__item topbar__imagebox">
					<img class="topbar__img" src="{{ . | relURL }}">
				</div>
			{{- end -}}
			{{ with $topbarTitle -}}
				<div class="topbar__item topbar__text">
					<div class="topbar__title">{{ . }}</div>
					{{ with $topbarSubtitle }}<div class="topbar__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}
		</a>
	</div>
{{- end }}