* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  // background: #eee;
}

@font-face {
  font-family: "SimplonNorm";
  font-display: swap;
  src: url(../fonts/SimplonNorm-Regular-WebXL.woff2);
}

body {
  font-size: 16px;
  line-height: 1.8;
  font-family:
    ui-sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    "PingFang SC",
    "Microsoft YaHei",
    Helvetica,
    "Apple Color Emoji",
    Arial,
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  // font-family: "SimplonNorm";
  padding-left: 300px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
}

video {
  max-width: 100%;
  vertical-align: bottom;
  border: 1px solid #eee;
}

header {
  padding: 20px 20px;
  width: 240px;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;

  .logo {
    font-size: 1.6rem;
    font-weight: 500;
    color: #ccc;
  }

  nav {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    a {
      margin: 0 5px;
      padding: 5px 0;
      color: #ccc;

      &:hover {
        color: #fff;
      }
    }
  }
}

main {
  max-width: 800px;
  padding: 40px 2.5rem;
}

.blog-posts {
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-weight: 500;
    padding: 6px 0;

    .entry-content {
      font-size: 15px;
      color: #666;
      word-break: break-all;
    }

    time {
      font-size: 15px;
      color: #999;
    }

    a {
      flex: 1;
      transition: all 0.1s linear;
      font-size: 1.1rem;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        color: #333;
      }
    }
  }
}

.home-posts {
  li {
    margin-bottom: 1em;

    a {
      font-size: 1.4rem;
      font-weight: 600;
      color: #333;
    }
  }
}

.header-title {
  font-size: 1.5rem;
}

.post-meta {
  color: #999;
  padding-bottom: 15px;
}

.post-content {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  line-height: 1.8;

  ul,
  ol {
    padding-left: 30px;
  }
}

#TableOfContents {
  position: fixed;
  left: 1100px;
  top: 120px;
  min-width: 300px;

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
  }
}

#TableOfContents>ul {
  padding: 20px 15px;
  background: #fafafa;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
  border-bottom: 1px solid #e5e7eb;
}

.aboutme {
  // background: #f9fafb;
  // border-bottom: 1px solid #e5e7eb;

  .container {
    padding: 30px 2.5rem;
    display: flex;
    align-items: center;

    .img {
      width: 100px;

      img {
        border-radius: 50%;
        border: 1px solid #eee;
      }
    }

    .info {
      flex: 1;
      // padding-left: 30px;

      .rss {
        margin-top: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c9c9c9;
        padding: 2px 18px;
        color: #666;
        font-size: 14px;
        transition: all 0.1s linear;

        &:hover {
          border-color: #999;
          color: #000;
        }
      }
    }
  }
}

.readmore {
  margin-top: 30px;

  a {
    text-decoration: underline;
    color: #555;
  }
}

footer {
  color: #ccc;
  font-size: 15px;
  padding: 0 10px;
  text-align: right;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 240px;
}

.nolist {

  ul,
  li,
  li {
    padding: 0;
    list-style: none;
  }
}

.post-tag {
  margin-top: 20px;

  a {
    background: #eee;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
}

.gotop {
  position: fixed;
  bottom: 20px;
  left: 1100px;
  font-size: 20px;
  cursor: pointer;
  z-index: 9;
  background: #333;
  color: #fff;
  padding: 6px;
}

@media(max-width:900px) {
  body {
    padding: 0;
  }

  header {
    position: static;
    height: auto;
    width: 100%;
    align-items: center;

    nav {
      display: block;
    }
  }

  main {
    max-width: 100%;
    padding: 30px 20px;
  }

  footer {
    position: static;
    width: 100%;
    text-align: center;
    color: #000;
    padding: 30px 10px 50px;
  }
  .gotop {
    left: auto;
    right: 20px;
  }
}