{{ partial "header.html" . }}

<div class="postlist">
  {{ $pages := .Site.RegularPages }}
  {{ $paginator := .Paginate ($pages) }}
  {{ range $paginator.Pages }}
  {{ $title := .Title }}
  {{ $summary := .Summary }}
  <a class="postitem" href="{{ .RelPermalink }}">
    <div class="title">
      <svg class="SideNav-icon octicon" style="width:16px;height:16px">
        <path
          d="M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25Zm1.75-.25a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25ZM3.5 6.25a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5h-7a.75.75 0 0 1-.75-.75Zm.75 2.25h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1 0-1.5Z">
        </path>
      </svg>
      <span>{{ .Title }}</span>
    </div>
    <div class="meta">
      <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
    </div>
  </a>
  {{ end }}
</div>
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}