<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <section class="inner">
    <h1>{{ .Title }}</h1>
    <p class="header-des">List of articles written on this website in a timeline view.</p>

    {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
    <ul>
      <h3 id="{{ .Key }}">{{ .Key }}</h3>
      {{ range .Pages }}
      
      <li class="box mb20 pd15">
        <h3 class="mb10"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <!-- <div class="thumb mb10">
          <p>{{ .Summary }}</p>
        </div> -->
        <div class="meta">
          {{ with .Params.categories }}
          {{ range . }}
          <span class="namenode">{{ . }}</span>
          {{ end }}
          {{ end }}
          <time>{{ .Date.Format "2006-01-02"}}</time>
        </div>
      </li>

      {{ end }}
    </ul>
    {{ end }}
    {{ partial "footer.html" . }}
  </section>
</body>

</html>