<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <main>
    {{ partial "header.html" . }}
    <section class="right">
      <div class="content">
        <h1 class="blog-title">{{ .Title }}</h1>

        <article class="post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </article>
        
        {{ partial "comment.html" . }}

      </div>
      {{ partial "footer.html" . }}
    </section>
  </main>
</body>

</html>