<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <section class="inner">

    <div class="box">
      <h1 class="pd15">{{ .Title }}</h1>
      {{ if in .Site.Params.mainSections .Type }}

      <div class="meta pd15">
        {{ if .Params.tags }}
        {{ range .Params.tags }} {{ $href := print (absURL "/tags/") (urlize .) }}
        <a class="namenode" href="{{ $href }}">{{ . }}</a>
        {{ end }}
        {{ end }}
        <time> {{ .Date.Format "2006-01-02"}}</time>
      </div>

      <div class="expired-tips" style="display: none;"></div>
      {{ end }}

      {{ if in .Site.Params.mainSections .Type }}
      <div class="toc">
        {{ .TableOfContents }}
      </div>
      {{ end }}

      <article class="post-content content pd15">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </article>

      {{ if in .Site.Params.mainSections .Type }}
      {{ partial "comment.html" . }}
      {{ end }}

    </div>
    {{ partial "footer.html" . }}
  </section>
</body>

</html>