<div class="fixed"></div>
<header class="title">
  <a href="/">子舒的博客</a>
</header>
<div id="nav" class="wrapper alwaysshow ">
  <ul>
    {{ range .Site.Params.socials }}
    <li><a href="{{ .link }}">{{ .name }}</a></li>
    {{ end }}
  </ul>
</div>

<div class="profile">
	<img src="https://imgurl.zishu.me/images/1719541102495.webp" class="profileimage" alt="user">
	<h4>子舒</h4>
	<p>一个程序员，有一些爱好。<a href="/about">了解详情</a></p>
</div>

<meter id="isread" max="100" value="0"></meter>
<script>
  window.addEventListener('scroll', function () {
    var scrolled = window.scrollY;
    var totalHeight = document.documentElement.scrollHeight - window.innerHeight;
    var percentage = (scrolled / totalHeight) * 100;
    $('#isread').attr('value', percentage)
  });
</script>