<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <header class="title">
    <a href="/">子舒的博客</a>
  </header>

  <nav class="wrapper alwaysshow ">
    <!-- <a href="#" onclick="return false;"><i class="fa fa-navicon fa-lg"></i></a> -->
    <ul>
      {{ range .Site.Params.socials }}
      <li><a href="{{ .link }}">{{ .name }}</a></li>
      {{ end }}
      <li>
        <a href="https://anghunk.notion.site/155935c878aa4210b71c9052b7f726ff?v=762fadfb010a415ea3644a201e3131cb"
          target="_blank">画廊</a>
      </li>
    </ul>
  </nav>

  <div class="profile">
    <img src="{{ .Site.Params.Logo }}" class="profileimage" alt="user">
    <h4>子舒</h4>
    <p>一个独立博客作者。<a href="/about/">了解详情</a></p>
    {{ $articleCount := len .Site.RegularPages }}
    {{ $totalWordCount := 0 }}
    {{ range .Site.Pages }}
    {{ $totalWordCount = add $totalWordCount .WordCount }}
    {{ end }}
    <p>已经写了{{ $articleCount }}篇文章，共{{ $totalWordCount }}字。</p>
    <hr>
  </div>