<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <main class="main">
      {{ partial "header.html" . }}

      <div>
        <h1>{{ .Title }}</h1>
        <p class="header-des">List of articles written on this website in a timeline view.</p>
      </div>

      {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
      <div class="items">
        <h3 id="{{ .Key }}">{{ .Key }}</h3>

        {{ range .Pages }}
        <div class="item">
          <div class="item-main">
            <div class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="item-info">
              <div class="item-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</div>
            </div>
          </div>
        </div>
        {{ end }}

      </div>

      {{ end }}

    {{ partial "footer.html" . }}
  </main>
  </div>
</body>

</html>