<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <div class="main">
      {{ partial "header.html" . }}
      <div class="archive-container">
        <div class="archive-title">{{ .Title }}</div>
      </div>

      <article class="content">
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </article>

      {{ partial "comment.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </div>
</body>

</html>