<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    <main class="main">
      {{ partial "header.html" . }}

      <div class="inner main_mark">
        <div class="header">
          <h1 class="header-title">{{ .Title }}</h1>
        </div>

        <article class="content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </article>
        {{ partial "comment.html" . }}
      </div>

    {{ partial "footer.html" . }}
  </main>
  </div>
</body>

</html>