<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  <div class="wrapper">
    {{ partial "header.html" . }}

    <main id="content">
      <div class="home">

        <div class="info">
          <div class="intro">
            <p>欢迎来到我的博客，已经运行了 <span id="days"></span> 天，有 <span id="busuanzi_value_site_pv">...</span> 位小伙伴逛过，写了 {{
              $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
            <p><a href="/index.xml">RSS 订阅</a></p>
          </div>
        </div>

        <script>
          const time = "{{ .Site.Params.buildDate }}";
          var now = new Date();
          var end = new Date(time);
          var diff = Math.abs(now - end);
          var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
          $('#days').html(days);
        </script>

        <div class="featured">
          <div class="featured-list">

            {{ $pages := .Site.RegularPages }}
            {{ $paginator := .Paginate ($pages) }}
            {{ $count := 0 }}

            {{ range $paginator.Pages }}
            {{ $title := .Title }}
            {{ $summary := .Summary }}

            {{ if and (not (in .Params.categories "gallery")) (lt $count 12) }}
            {{ $count = add $count 1 }}

            <article class="featured-single">
              <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
              <p><small>{{ .Date.Format "2006 年 01 月 02 日"}}</small></p>
              <p></p>
              <!-- <p>{{ .Summary }}</p> -->
            </article>

            {{ end }}
            {{ end }}
          </div>
          
          {{ partial "pagination.html" . }}
        </div>

      </div>
      {{ partial "footer.html" . }}
    </main>
  </div>
</body>

</html>