@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono'), url('./JetBrainsMonoRegular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: local('JetBrains Mono'), url('./JetBrainsMonoMedium.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: local('JetBrains Mono'), url('./JetBrainsMonoSemiBold.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: local('JetBrains Mono'), url('./JetBrainsMonoBold.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: local('JetBrains Mono'), url('./JetBrainsMonoExtraBold.woff') format('woff');
}