{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<footer class="footer">
  <div class="l-wrap">
    <p class="aboutme">这是我的个人博客，已经运行了 <span id="days"></span> 天，写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
    <p>© 2020 - 2025 Powered by
      <a href="https://github.com/dlzmoe" target="_blank">Github</a>
      / <a href="/index.xml" target="_blank">RSS</a>
    </p>
  </div>
  <div class="gotop"></div>
</footer>

<script>
  const time = "{{ .Site.Params.buildDate }}";
  var now = new Date();
  var end = new Date(time);
  var diff = Math.abs(now - end);
  var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
  document.getElementById('days').innerHTML = days;
</script>

{{ partial "scripts.html" . }}