body {
  line-height: 1.8;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 20px 0;
}

.h1 {
  font-size: 26px;
  font-weight: 500;
}

.nav-container {
  margin-top: 15px;
  height: 40px;
  background: #0C4072;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .nav {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-container .nav a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 10px;
  padding: 0 10px;
}
.nav-container .nav a.act, .nav-container .nav a:hover {
  text-decoration: underline;
}
.nav-container .share {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container .share a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: all 0.1s linear;
}
.nav-container .share a:hover {
  color: #ccc;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.aside {
  width: 250px;
}

.main {
  flex: 1;
  width: calc(100% - 250px);
  padding-left: 20px;
}

.aside-item {
  border: 1px solid #c6d2e0;
  background: #FAFAFA;
  color: #333;
  margin-bottom: 1em;
}
.aside-item .item-title {
  background: #CFDEF5;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 34px;
  font-weight: 500;
}
.aside-item a {
  text-decoration: underline;
}
.aside-item.info {
  text-align: center;
}
.aside-item .item-content {
  padding: 15px;
}

.item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.item-main a {
  color: #111;
  transition: all 0.1s linear;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.item-main a:hover {
  color: #000;
  text-decoration: underline;
}
.item-main .item-date {
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}

.aboutme {
  margin-bottom: 15px;
  color: #333;
  background: #fafafa;
  padding: 10px 15px;
  font-size: 15px;
}

.page {
  background: #DAE7F8;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer {
  color: #666;
  font-size: 15px;
  padding: 20px 0;
  margin-top: 20px;
}
footer .l-wrap {
  margin-bottom: 20px;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #666;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
}

.archive-list-header {
  font-size: 22px;
  padding: 0 20px;
  margin: 15px 0;
  background: #e6edf7;
}

.toc {
  position: sticky;
  top: 20px;
}

@media (max-width: 900px) {
  .nav-container {
    flex-direction: column;
    height: auto;
    white-space: nowrap;
    align-items: center;
    padding: 10px 0;
  }

  .nav {
    justify-content: center;
    margin-bottom: 10px;
  }

  .container {
    flex-direction: column;
  }

  .aside {
    width: 100%;
  }

  .main {
    width: 100%;
    padding: 0;
  }
}